
<p>CollecTF, a play on words using the French collectif [collective] and the acronym
for transcription factor [TF], is a database of transcription factor binding sites
(TFBS) in the Bacteria domain.</p>

<p>CollecTF aims at becoming a reference, highly-accessed database by relying on its
ability to customize navigation and data extraction, its relevance to the community,
the quality and detail of the stored data and the up-to-date nature of the stored
information.</p>

<h5>Features</h5>
<ul>
  <li>
    CollecTF stores exclusively data on experimentally-validated TFBS and makes special
    emphasis on providing a transparent curation process that captures the experimental
    support for sites as reported by authors in peer-reviewed publications.
  </li>

  <li>
    The CollecTF curation model combines direct author submissions and in-house curation. If you have data to submit, please do contribute [XXXLINK] it!
  </li>

  <li>
    Reported binding sites are mapped to NCBI RefSeq complete genome records to
    provide genomic context and the experimental process is detailed during
    curation. Curation records are open for inspection. Please, let us know [XXXLINK]
    if you spot an error.
  </li>

  <li>
    CollecTF focuses on providing fully customizable access to the stored data. The
    database can be browsed by transcription factor families, NCBI taxonomy or
    experimental support, or through customized searches integrating these three
    elements that allow users to specify the desired level of experimental support.
  </li>

  <li>
    CollecTF reports export to common FASTA and flat-file formats, and periodic
    flat-file releases of the database are available for download. 
  </li>
 
  <li>
    CollecTF data is periodically submitted to NCBI, where it is integrated into
    RefSeq complete genome records through db_xref links.
  </li>
</ul>

