<p>
CollecTF can be browsed at three different levels
</p>

<p>
  NCBI Taxonomy [XXXLINK] Browse the database using up-to-date NCBI taxonomy. Just
click on each taxonomical unit to expand it and see its associated information, and
link out to species-specific reports.
</p>

<p>
TF family [XXXLINK] Browse the database by transcription factor families. Click on
each family to expand it and see its associated information, and link out to
TF-family or TF-based reports.
</p>

<p>
Technique [XXXLINK] Browse CollecTF by experimental evidence. Click on different
groups of experimental techniques to expand them and see their associated
information, and link out to techniq
</p>
