{% extends "main_page_base.html" %}

{% block right_frame %}
<h3>Browse CollecTF</h3>
<p>
CollecTF can be browsed at three different levels

<ul>
  
<li>
  <p>
  <a href="{% url browseapp.browse_front.browse_tax %}">NCBI Taxonomy</a> - Browse the
database using up-to-date NCBI taxonomy. Just click on each taxonomical unit to
expand it and see its associated information, and link out to species-specific
reports.
  </p>
</li>

<li>
  <p>
  <a href="{% url browseapp.browse_front.browse_TF %}">TF family</a> - Browse the
database by transcription factor families. Click on each family to expand it and see
its associated information, and link out to TF-family or TF-based reports.
  </p>
</li>

<li>
  <p>
  <a href="{% url browseapp.browse_front.browse_techniques %}">Technique</a> - Browse CollecTF by experimental evidence. Click on different
groups of experimental techniques to expand them and see their associated
information, and link out to technique.
  </p>
</li>

</ul>

{% endblock %}

