{% extends "main_page_base.html" %}

{% block right_frame %}

<h3>Contributing to CollecTF</h3>

<p>
  <b class=""><a href="{% url collectfapp.views.pub_external_submission %}">Suggest an article
      for curation</a></b> - 
  <small>Know of a peer-reviewed publication describing
    experimentally-validated bacterial TF-binding sites that is not yet on
    <a href="{% url browseapp.view_all.view_all_publications %}">
      our to-do list</a>, Please let us know!</small>
</p>


<b class="">Submit data <a href="{% url collectfapp.curationview.curation %}"> using
  curation wizard</a> <!-- / <a href="{% url collectfapp.curationview.curation %}">in table format</a> --></b>

<ul>
  <li><small>Please check <a href="https://dl.dropboxusercontent.com/u/3418484/CollecTF_submission_guide.pdf">the submission guide </a> for the curation wizard.</small>
  </li>
  <li><small>Note that you must be <a href="{% url mainpageapp.views.register_request %}">registered as an external user</a> to submit.</small></li>
  <li><small>
	Submitted records will be assessed by CollecTF staff and incorporated into
	the database prior to submission to NCBI.
    </small>
  </li>
</ul>


<p>
  <b class="">Become a curator</b> - <small>CollecTF is open to everyone willing and able to read primary
scientific literature and extract relevant content. Please contact us if you want to become a member
      of <a href="{% url dbstatsapp.views.curator_roster %}">the CollecTF team</a>.</small>
</p>



{% endblock %}
