{% extends "main_page_base.html" %}

{% block right_frame %}

<p>CollecTF welcomes and encourages contributions</p>

<ul>
<li>
  <p>Suggest a article for curation.</p>
  <p>Know of a peer-reviewed publication describing experimentally-validated
  bacterial TF-binding sites that is not yet on our to-do list [XXXLINK:StatPubs]?
  Please let us know! [XXXLINK:Submit_paper_form]
  </p>
</li>

<li>
  <p>
    Submit data
  </p>
  <p>
    Are you the author of a publication with experimental data on bacterial
    TF-binding sites that is not already in our database [XXXLINK:StatPubs]? Please
    take a moment to submit your data and maximize its visibility and accessibility
    through NCBI RefSeq complete genome records.
  </p>
  <p>
    For your convenience, you may:
    <ul>
      <li>
	Submit data [XXXLINK] using our online submission system. Please check the
	accompanying Submission guide [XXXLINK] before submitting. You must be
	registered as an external user [XXXLINK] to submit.
      </li>
      <li>
	Submit data [XXXLINK] in table format. Please check the Data submission guide
	[XXXLINK] before submitting. You must be registered as an external user
	[XXXLINK] to submit.
      </li>
      <li>
	Submitted records will be assessed by CollecTF staff and incorporated into
	the database prior to submission to NCBI.
      </li>
  </p>
</li>

<li>
  <p>
Become a curator Interested in TF-binding sites? Intrigued by the intricacies of
database curation? CollecTF is open to everyone willing and able to read primary
scientific literature and extract relevant content. Please contact us [XXXLINK:email]
if you want to become a member of the CollecTF team [XXXLINK:StatCurator roster].
  </p>
</li>
</ul>


{% endblock %}
