{% extends "main_page_base.html" %}

{% block right_frame %}

<h3>Other Resources</h3>

<p>CollecTF aims at becoming a comprehensive resource for bacterial TF-binding site
information, but it is by no means alone. If you cannot find what you are looking for
here, please check out the alternatives below.</p>

<p>Model organism-based transcriptional regulation databases provide details on
TF-binding sites, protein-protein interactions, metabolic networks and more. Check
these out:

<ul class="">
  <li><a href="http://regulondb.ccg.unam.mx/">RegulonDB</a></li>
  <li><a href="http://dbtbs.hgc.jp/">DBTBS</a></li>
  <li><a href="http://www.coryneregnet.de/">CoryneRegNet</a></li>
  <li><a href="http://mtbreglist.genap.ca/MtbRegList/www/index.php">MtbRegList</a></li>
</ul>
</p>

<p>
Domain-wide databases on prokaryotic TF-binding sites including manual curation and
in silico predictions
<ul>
  <li><a href="http://prodoric.tu-bs.de/">Prodoric</a></li>
  <li><a href="http://regtransbase.lbl.gov/">RegTransBase</a></li>
</ul>
</p>

<p>
Databases on transcription factors and transcription factor families
<ul>
  <li><a href="http://www.transcriptionfactor.org/">DBD</a></li>
  <li><a href=" http://dbtbs.hgc.jp/ver4/tfactable.html">DBTBS families</a></li>
  <li><a href="http://www.ncbi.nlm.nih.gov/Complete_Genomes/RRcensus.html">Response regulators census</a></li>
</ul>
</p>

<p>
Looking for more transcriptional regulation databases? Check these out!
<ul>
  <li><a href="http://www.pathguide.org/">PathGuide</a></li>
  <li><a href="http://www.oxfordjournals.org/nar/database/subcat/1/4">NAR Biological Database Collection</a></li>
</ul>
</p>

 




{% endblock %}
