{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="span2 boxed">
    <ul class="nav nav-pills">
      <li class="nav-link" id="about"><a href="{% url mainpageapp.views.about %}">About</a></li>
      <li class="nav-link" id="browse"><a href="{% url mainpageapp.views.browse %}">Browse</a></li>
      <li class="nav-link" id="search"><a href="{% url mainpageapp.views.search %}">Search</a></li>
      <li class="nav-link" id="compare"><a href="{% url mainpageapp.views.compare_motifs %}">Compare motifs</a></li>
      <li class="nav-link" id="contribute"><a href="{% url mainpageapp.views.contribute %}">Contribute</a></li>
      <li class="nav-link" id="stats"><a href="{% url mainpageapp.views.stats %}">Stats</a></li>
      <li class="nav-link" id="links"><a href="{% url mainpageapp.views.links %}">Links</a></li>
      <li class="nav-link" id="feedback"><a href="{% url mainpageapp.views.feedback %}">Feedback</a></li>
      <li class="nav-link" id="cite"><a href="{% url mainpageapp.views.cite %}">Cite</a></li>
      <li class="nav-link" id="acknowledgements"><a href="{% url mainpageapp.views.acknowledgements %}">Acknowledgements</a></li>
    </ul>
</div>

<div class="span8 boxed">
{% block right_frame %}
{% endblock %}
</div>

</div>

<script>
$(document).ready(function() {
    $('.nav-link').css('width', '100%');
    $('a[href="' + window.location.pathname + '"]').parent().addClass('active');

});
</script>



{% endblock %}
