{% extends "main_page_base.html" %}

{% block right_frame %}

<h3>CollecTF statistics</h3>

<ul>
  <li> <a href="{% url dbstatsapp.views.curation_stats %}#global">CollecTF global statistics</a></li>
  <li> <a href="{% url dbstatsapp.views.curation_stats %}#curations">Curation statistics</a></li>
  <li> <a href="{% url dbstatsapp.views.curation_stats %}#site">Site statistics</a></li>
  <li> <a href="{% url browseapp.view_all.view_all_curations %}">Curations</a></li>
  <li> <a href="{% url browseapp.view_all.view_all_publications %}">Publications</a></li>
  <li> <a href="{% url dbstatsapp.views.experimental_techniques %}">Experimental techniques</a></li>
  <li> <a href="{% url dbstatsapp.views.curator_roster %}">Curators roster</a></li>
  <li> <a href="{% url dbstatsapp.views.release_history %}">Release history</a></li>
  
<!--  <li> <a href="#">CSV file templates</a></li> -->
</ul>

{% endblock %}
