[submodule "static/font-awesome"]
	path = static/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git

[submodule "static/select2"]
	path = static/select2
	url = https://github.com/ivaynberg/select2/
