{% extends "base.html" %}
{% block content %}

{% load bootstrap_tags %}


<h2>Please sign in</h2>
<form class="form-horizontal" action="" method="post">{% csrf_token %}

  {{ form|as_bootstrap}}
  <!--
  {% for field in form %}
  <div class="field">
    <div class="field-label">{{ field.label_tag }}</div>
    <div class="field-field">{{ field }}</div>
    <div class="field-error">{{ field.errors }}</div>
  </div>
  {% endfor %}
  -->
  <div class="control-group">
    <div class="controls">
      <input class="btn btn-large" type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next|escape }}" />
    </div>
  </div>  
</form>

{% endblock %}
