{% extends "base.html" %}

{% load bootstrap_tags %}
{% load static %}
{% block content %}

<div class="container">
  <div class="span12">

    <div class="page-header" id="browse-form">
      <h2>Browse database</h2>
    </div>
    
    <form id="browse_form" method="POST" action="{% url browseapp.browse_TF_and_species.browse_TF_and_species %}">{% csrf_token %}
      <div id="form_TF">
	<div class="page-header">
	  <h3>1) Select the transcription factor</h3>
	</div>
	<div class="controls">
	  <select class="select2" style="width:50%" name="TF" id="id_TF">
	    {% for TF in TFs %}
	    <option value="{{ TF.TF_id }}">{{ TF }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>
      
      <div id="form_species">
	<div class="page-header">
	  <h3>2) Select the species</h3>
	</div>
	<div class="controls">
	  <select name="species" id="id_species" class="select2" style="width:50%">
	    {% for sp in species %}
	    <option value="{{ sp.taxonomy_id }}">{{ sp }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>

      <div id="form_techniques">
	<div class="page-header">
	  <h3>3) Filter binding sites by experimental techniques that they are
	    reported</h3> Filter transcription factor binding site search by experimental
	  methods that are used to report the sites. You can filter the search by
	  selecting particular categories and combine them using Boolean operators. You
	  can also select individual techniques by expanding the category that they are
	  under.
	</div>
      
	<div class="row-fluid">
	  <div class="span3">
	    <select name="main_category1" id="selectpicker1">
	      <option value="binding" selected="selected">Binding</option>
	      <option value="expression">Expression</option>
	      <option value="insilico">In-silico</option>
	    </select>
	    <div class="row spacer"></div>
	    <label class="checkbox">
	      <input type="checkbox" id="select_all_tech1">Select all
	    </label>
	    <div class="techniques1 listTree"></div>
	    <input type="hidden" name="tech1" id="selectionJSON1" value="">
	  </div>
	  
	  <div class="span1">
	    <select name="boolean1" class="span12">
	      <option value="and">and</option>
	      <option value="or" selected="selected">or</option>
	    </select>
	  </div>
	  
	  <div class="span3">
	    <select name="main_category2" id="selectpicker2">
	      <option value="binding">Binding</option>
	      <option value="expression" selected="selected">Expression</option>
	      <option value="insilico">In-silico</option>
	    </select>
	    <div class="row spacer"></div>
	    <label class="checkbox">
	      <input type="checkbox" id="select_all_tech2">Select all
	    </label>

	    <div class="techniques2 listTree"></div>
	    <input type="hidden" name="tech2" id="selectionJSON2" value="">
	  </div>
	  
	  <div class="span1">
	    <select name="boolean2" class="span12">
	      <option value="and">and</option>
	      <option value="or" selected="selected">or</option>
	    </select>
	  </div>
	  
	  <div class="span3">
	    <select name="main_category3" id="selectpicker3">
	      <option value="binding">Binding</option>
	      <option value="expression">Expression</option>
	      <option value="insilico" selected="selected">In-silico</option>
	    </select>
	    <div class="row spacer"></div>
	    <label class="checkbox">
	      <input type="checkbox" id="select_all_tech3">Select all
	    </label>

	    <div class="techniques3 listTree"></div>
	    <input type="hidden" name="tech3" id="selectionJSON3" value="">
	  </div>
	</div>
      </div>
      
      <div id="form_others">
	<div class="page-header">
	  <h3>4) Other</h3>
	  <div class="controls">
	    <label class="checkbox">
	      <input type="checkbox" id="browse_motif_associated_sites">Browse motif associated sites.
	    </label>
	    <label class="checkbox">
	      <input type="checkbox" id="browse_not_motif_associated_sites">Browse not motif associated sites (e.g. ChIP-seq)
	    </label>
	</div>
	
      </div>

      <div id="form_submit">
	<div class="page-header">
	  <h3>5) Submit form</h3>
	  <input class="btn btn-large btn-block btn-info" type="submit" value="submit" />
	</div>
      </div>
    </form>


    <div class="row spacer"></div>
    <hr />
    <div class="row spacer"></div>


  </div>
</div>
    

<script type="text/javascript">
  {% load utils %}

  // data

var binding_techniques = [

    {% for subcategory in binding_techniques|get_keys %}
    {
	"key": "{{ subcategory }}",
	"values": [{% for technique in binding_techniques|get_item:subcategory|sort_by:'name' %} {"key": "{{ technique.name }}"}, {% endfor %}]
    },
    {% endfor %}
];
var expression_techniques = [
    {% for subcategory in expression_techniques|get_keys %}
    {
	"key": "{{ subcategory}}",
	"values": [{% for technique in expression_techniques|get_item:subcategory|sort_by:'name' %} {"key": "{{ technique.name }}"}, {% endfor %}]
    },
    {% endfor %}
];
var insilico_techniques = [
    {% for subcategory in insilico_techniques|get_keys %}
    {
	"key": "{{ subcategory }}",
	"values": [{% for technique in insilico_techniques|get_item:subcategory|sort_by:'name' %} {"key": "{{ technique.name }}"}, {% endfor %}]
    },
    {% endfor %}
];

$('.techniques1.listTree').listTree(binding_techniques, {'startCollapsed': true, 'selected': []});
$('.techniques2.listTree').listTree(expression_techniques, {'startCollapsed': true,'selected': [] });
$('.techniques3.listTree').listTree(insilico_techniques, {'startCollapsed': true, 'selected': []});


function bind_selectors(select_picker, list_tree)
{
    // bind select_picker and list_tree, so when select_picker changes, so does list_tree
    $(document).on('change', select_picker, function() {
	var new_val = $(select_picker).val();
	switch(new_val) {
	case 'binding':
	    $(list_tree).listTree('update', binding_techniques, {'startCollapsed': true, 'selected': []});
	    break;
	case 'expression':
	    $(list_tree).listTree('update', expression_techniques, {'startCollapsed': true, 'selected': []});
	    break;
	case 'insilico':
	    $(list_tree).listTree('update', insilico_techniques, {'startCollapsed': true, 'selected': []});
            break;
	}
    });
}

function bind_togglers(toggle_a, list_tree) {
    $(document).on('change', toggle_a, function() {
	if($(toggle_a).is(":checked"))
	    $(list_tree).listTree('selectAll');
	else
	    $(list_tree).listTree('deselectAll');
	return false;
    });
}

bind_selectors('#selectpicker1', '.techniques1.listTree');
bind_selectors('#selectpicker2', '.techniques2.listTree');
bind_selectors('#selectpicker3', '.techniques3.listTree');
bind_togglers('#select_all_tech1', '.techniques1.listTree');
bind_togglers('#select_all_tech2', '.techniques2.listTree');
bind_togglers('#select_all_tech3', '.techniques3.listTree');

$('#browse_form').on('click', '.btn', function(e) {
  $('#selectionJSON1').val(JSON.stringify($('.techniques1.listTree').data('listTree').selected));
  $('#selectionJSON2').val(JSON.stringify($('.techniques2.listTree').data('listTree').selected));
  $('#selectionJSON3').val(JSON.stringify($('.techniques3.listTree').data('listTree').selected));
});

// selectpicker initialize
$('.select2').select2();

</script>

{% endblock %}

