{% extends "base.html" %}

{% block content %}

<dl class="dl-horizontal">
  <dt>dbxref</dt>
  <dd class="fixed-width">{{ dbxref }}</dd>
  <dt>genome accession</dt>
  <dd>{{ head_curation_site_instance.site_instance.genome.genome_accession }}
    ({{ head_curation_site_instance.site_instance.genome.taxonomy.name }})</dd>
</dl>

<hr />
<h4>List of curations for this transcription factor binding site</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Curation id</th>
      <th>TF</th>
      <th>PMID</th>
      <th>Experimental techniques used</th>
    </tr>
  </thead>
  <tbody>
    {% for curation in curations %}
    <tr>
      <td><a href="{% url browseapp.browse_curation.browse_curation curation.curation_id %}">{{ curation.curation_id }}</a></td>
      <td>{{ curation.TF_instance.protein_accession }} ({{ curation.TF.name }})</td>
      <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{ curation.publication.pmid }}">{{ curation.publication.pmid }}</a></td>
      <td>
	{% for tech in curation.experimental_techniques.all %}
	{{ tech.name }}{% if not forloop.last %}, {% endif %}
	{% endfor %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr />
<!-- and graphic goes here -->
<h4>Gene regulation</h4>
Regulated genes for each binding site are displayed below. Genes that are reported
for TF-site mediated regulation are displayed in green.

{% load gene_diagram %}
<div class="regulation-diagram">
  {% with site=head_curation_site_instance.site_instance %}
  {{ regulations|regulation_diagram:site }}  
  {% endwith %}
</div>

<ul>
  
  {% for regulation in regulations %}
  <li>
    <a href="http://www.ncbi.nlm.nih.gov/gene/{{ regulation.gene.gene_accession }}">
      <span {% if regulation.evidence_type == "exp_verified" %} class="exp_verified_reg" {% endif %}>
	{{ regulation.gene.name }} ({{ regulation.gene.locus_tag }})
      </span>
    </a> -- 
    <span {% if regulation.evidence_type == "exp_verified" %} class="exp_verified_reg" {% endif %}>
      {{ regulation.gene.description }}
    </span>
  </li>
  {% endfor %}
</ul>

{% endblock %}
