
<!-- browse by species -->

{% extends "base.html" %}

{% load TF_desc_htmlify %}

{% block content %}

<ul class="breadcrumb">
  <li class="active">Home<span class="divider">/</span></li>
</ul>

<table class="table table-striped">
<thead>
<tr>
  <th>TF family</th>
  <th>Function</th>
</tr>
</thead>
<tbody>
{% for TF_family in TF_families %}
<tr>
  <td><a href="{% url browseapp.browse_TF.browse_by_TF_family TF_family.TF_family_id %}">{{ TF_family.name }}</a></td>
  <td>{% with desc=TF_family.description %} {{ desc|htmlify }} {% endwith %}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
