{% load TF_desc_htmlify %}

<div id="description" class="boxed">
  <h4>{{ title }}</h4>
  <p> {{ description|htmlify }}</p>
</div>

<div id="report_table" class="boxed">

{% if reports %}
{% if view_all_csis %} 
{# put view_all link #}
<p><a class="block_before_load" href="#" onclick="$('#view_all').submit(); return false;">Combined report</a></p>
<form style="display:inline;" method="post" action="{% url browseapp.view_results.view_results %}" id="view_all" action="">
  {% csrf_token %}
  <input type="hidden" name="motif_csi_list" value="{% for csi_pk in view_all_csis %}{{ csi_pk }}{% if not forloop.last %},{% endif %}{% endfor %}">
  <input type="hidden" name="non_motif_csi_list" value="{% for ncsi_pk in view_all_ncsis %}{{ ncsi_pk }}{% if not forloop.last %},{% endif %}{% endfor %}">
</form>

{% endif %}
<table class="table table-condensed table-striped">
  <thead>
    <th>TF</th>
    <th>Species</th>
    <th>Report</th>
  </thead>
  <tbody>
    {% for report in reports %}
    <tr>
      <td>{{ report.TF_name }}</td>
      <td>{{ report.species_name }}</td>
      {% with form_id=report.TF_name|slugify|add:'_'|add:report.species_name|slugify %}
      <td>
	<a class="block_before_load" href="#" onclick="$('#{{ form_id }}').submit(); return false;">view</a>
	<form style="display:inline;" method="post" action="{% url browseapp.view_results.view_results %}" id="{{ form_id }}" action="">{% csrf_token %}
	  <input type="hidden" name="motif_csi_list" value="{% for csi_pk in report.csi_list %}{{ csi_pk }}{% if not forloop.last %},{% endif %}{% endfor %}">
	  <input type="hidden" name="non_motif_csi_list" value="{% for ncsi_pk in report.non_motif_csi_list %}{{ ncsi_pk }}{% if not forloop.last %},{% endif %}{% endfor %}">
	</form>
      </td>
      {% endwith %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p class="text-warning">No record was found.</p>
{% endif %}
</div>
