{% extends "base.html" %}

{% block content %}
<div class="row-fluid">

  <div class="span4 boxed">
    <ul class="unstyled">
      {% for phylum in taxonomy.phyla %}
      <li>
	<div class="node expandable">
	  <i class=""></i>
	  <a href="#" onclick="getReportLinksSpecies({{ phylum.pk }}, '{{ phylum.name }}'); return false;">{{ phylum.name }}</a>
	</div>
	<ul class="unstyled">
	  {% for class in phylum.taxonomy_set.all %}
	  <li>
	    <div class="node expandable">
	      <i class=""></i>
	      <a href="#" onclick="getReportLinksSpecies({{ class.pk }}, '{{ class.name }}'); return false;">{{ class.name }}</a>
	    </div>
	    <ul class="unstyled">
	      {% for order in class.taxonomy_set.all %}
	      <li>
		<div class="node expandable">
		  <i class=""></i>
		  <a href="#" onclick="getReportLinksSpecies({{ order.pk }}, '{{ order.name }}'); return false;">{{ order.name }}</a>
		</div>
		<ul class="unstyled">
		  {% for family in order.taxonomy_set.all %}
		  <li>
		    <div class="node expandable">
		      <i class=""></i>
		      <a href="#" onclick="getReportLinksSpecies({{ family.pk }}, '{{ family.name }}'); return false;">{{ family.name }}</a>
		    </div>
		    <ul class="unstyled">
		      {% for genus in family.taxonomy_set.all %}
		      <li>
			<div class="node expandable">
			  <i></i>
			  <a href="#" onclick="getReportLinksSpecies({{ genus.pk }}, '{{ genus.name }}'); return false;">{{ genus.name }}</a>
			</div>
			<ul class="unstyled">
			  {% for species in genus.taxonomy_set.all %}
			  <li>
			  <div class="node">
			    <i></i>
			    <a href="#" onclick="getReportLinksSpecies({{ species.pk }}, '{{ species.name }}'); return false;">{{ species.name }}</a>
			  </div>
			  </li>
			  {% endfor %}
			</ul>
		      </li>
		      {% endfor %}
		    </ul>
		  </li>
		  {% endfor %}
		</ul>
	      </li>
	      {% endfor %}
	    </ul>
	  </li>
	  {% endfor %}
	</ul>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="span7" id="browse">
    <div id="intro" class="boxed">
<p>Browse the database using up-to-date NCBI taxonomy. Just click on each taxonomical 
unit to expand it and see its associated information, and link out to
species-specific reports.</p>
    </div>
  </div>
</div>

 {% include "tree_view.html" %}

<script>
function getReportLinksSpecies(id) {
    // retrieve list of reports
    $(document).ajaxStop($.unblockUI); // unblock when ajax activity stops
    $.blockUI({message: block_message});
    $.ajax({
	type: "GET",
	url: '/browse_tax_all_reports_ajax/' + id,
	success: function(data) {
	    $("#browse").html(data);
            get_wiki($("#browse #description h4").text());
	}
    });
}

function get_wiki(name) {
    // given title, return first paragraph of wikipedia article
console.log(name);
    $.ajax({
	url: 'http://en.wikipedia.org/w/api.php',
	data: {
	    action: 'parse',
	    //titles: name,
	    page: name,
	    format: 'json',
	    prop: 'text',
	},
	dataType:'jsonp',
	success: function(data) {
	    var wikiHTML = data.parse.text["*"];
	    var wikiDOM = $("<document>"+wikiHTML+"</document>");
	    var first_p = $(wikiDOM.children('p').get(0));

	    first_p.find('sup').remove();
	    first_p.find('a').each(function() {
		$(this)
		    .attr('href', 'http://en.wikipedia.org'+$(this).attr('href'))
		    .attr('target','wikipedia');
	    });
            console.log($(first_p));
	    
	    var desc = $('#description');
            desc.text('');
            desc.append('<h4>' + name + '</h4>');
	    desc.append(first_p)
		.append("<a href='http://en.wikipedia.org/wiki/"+name+"' target='wikipedia'>Read more on Wikipedia</a>");
	}
    });
}
</script>


{% endblock %}

