{% extends "base.html" %}

{% block content %}

<h2>List of curations</h2>

<table class="table table-hover">
<thead>
<tr>
  <th>Curation id</th>
  <th>TF</th>
  <th>Organism</th>
  <th>PMID</th>
  <th>Curated by</th>
</thead>

<tbody data-provides="rowlink">
{% for curation in curations %}
<tr>
  <td>
    {{ curation.curation_id }}
  </td>
  <td>{{ curation.TF.name }}</td>
  <td>{{ curation.site_species }}</td>
  <td><span title="{% with pub=curation.publication %}{{ pub.title }}, {{ pub.authors }} {% endwith %}">
      {{ curation.publication.pmid }}</span></td>
  <td>{{ curation.curator.user.username }}</td>
  <td>    <a href="{% url browseapp.browse_curation.browse_curation curation.curation_id %}">view</a></td>

</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
