
<div class="accordion" id="accordion-allr">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion-allr" href="#collapse-allr">
        Average Log Likelihood Ratio <small>[click to expand]</small>
      </a>
    </div>
    <div id="collapse-allr"class="accordion-body collapse">
      <div class="accordion-inner">
        text here
      </div>
    </div>
  </div>
</div>

<p>$ALLR(M_a, M_b) = {{ sc }}$</p>

<div>
<img src="{{ plot }}" />
</div>
