
<ul class="nav nav-tabs">
  <li class="active"><a href="#KL_similarity" data-toggle="tab">Motif similarity</a></li>
  <li><a href="#KL_unaligned" data-toggle="tab">Unaligned binding sites</a></li>
  <li><a href="#KL_aligned" data-toggle="tab">Aligned binding sites</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="KL_similarity">
    <p>$KL(M_a, M_b) = {{ sc }}$</p>
    <div>
      <img src="{{ plot }}" />
    </div>
  </div>

  <div class="tab-pane" id="KL_unaligned">
    <div class="row-fluid">
      <div class="span6">
        <pre>
          {% for site in unaligned_sites_a %}{{ site }}
          {% endfor %}
        </pre>
      </div>
      <div class="span6">
        <pre>
          {% for site in unaligned_sites_b %}{{ site }}
          {% endfor %}
        </pre>
      </div>
    </div>
  </div>
  
  <div class="tab-pane" id="KL_aligned">
    <div class="row-fluid">
      <div class="span6">
        <pre>
          {% for site in aligned_sites_a %}{{ site }}
          {% endfor %}
        </pre>
      </div>
      <div class="span6">
        <pre>
          {% for site in aligned_sites_b %}{{ site }}
          {% endfor %}
        </pre>
      </div>
    </div>
  </div>
</div>


