<div class="accordion" id="KL_accordion">
  <div class="accordion-heading">
    <a href="#KL_collapse" data-toggle="collapse" data-parent="KL_accordion">
      <span class="pull-right"><small>[expand/collapse]</small></span></a>
    Kullback-Leibler Divergence (KLD) is a non-symmetric measure of the difference
    between two probability distributions. Symmetric form of KLD is used to measure the
    difference between two motifs.

  </div>
  <div id="KL_collapse" class="accordion-body collapse">
    <p>
    The KLD between two motif columns $X$ and $Y$ is defined as
    <div class="eq">
      $$
      KLD(X,Y) = \frac{1}{2} \left( \sum_{b \in B} f_X(b) \log{\frac{f_X(b)}{f_Y(b)}} +
                         \sum_{b \in B} f_Y(b) \log{\frac{f_Y(b)}{f_X(b)}}
                  \right)
      $$
    </div>
    where $B = (A,C,G,T)$, $f_X(b)$ is the frequency of base $b$ in column $X$.
    </p>
    <p>
      The KLD between two motifs is defined as the sum of the column comparison scores of
      the ungapped alignment of the two motifs.
    </p>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#KL_similarity" data-toggle="tab">Motif similarity</a></li>
  <li><a href="#KL_alignment" data-toggle="tab">Motif alignment</a></li>
  <li><a href="#KL_unaligned" data-toggle="tab">Unaligned binding sites</a></li>
  <li><a href="#KL_aligned" data-toggle="tab">Aligned binding sites</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="KL_similarity">
    <p>Below is the KLD score histogram of permutations of the two motifs. On each
    permutation test, the columns of motifs are randomly shuffled and KLD between two
    shuffled motifs is measured. The true KLD between two motifs is denoted with the
    dashed horizontal line. $KLD(M_a, M_b) = {{ sc }}$</p>


    <div>
      <img src="{{ plot }}" />
    </div>
  </div>

  <div class="tab-pane" id="KL_alignment">
    <p>Below is the visual representation of the alignment of the two
    motifs. Different from the original sequence logos, the alignment shows the aligned
    submotifs only.</p>

    <img src="" class="weblogo_img" site_data={% for site in aligned_sites_a %}{{site}}{% if not forloop.last %},{% endif %}{% endfor %} />

    <br /> 
    <img src="" class="weblogo_img" site_data={% for site in aligned_sites_b %}{{site}}{% if not forloop.last %},{% endif %}{% endfor %} />
  </div>


  <div class="tab-pane" id="KL_unaligned">
    <p>The list of binding sites for two motifs as curated</p>
    <div class="row-fluid">
      <div class="span6">
        <pre>
          {% for site in unaligned_sites_a %}{{ site }}
          {% endfor %}
        </pre>
      </div>
      <div class="span6">
        <pre>
          {% for site in unaligned_sites_b %}{{ site }}
          {% endfor %}
        </pre>
      </div>
    </div>
  </div>
  
  <div class="tab-pane" id="KL_aligned">
    <p>Below is the collection of binding sites used in the alignment of the two motifs.</p>
    <div class="row-fluid">
      <div class="span6">
        <pre>
          {% for site in aligned_sites_a %}{{ site }}
          {% endfor %}
        </pre>
      </div>
      <div class="span6">
        <pre>
          {% for site in aligned_sites_b %}{{ site }}
          {% endfor %}
        </pre>
      </div>
    </div>
  </div>
</div>


