{% extends "base.html" %}
{% load utils %}

{% block content %}

<div class="container">
<div class="alert alert-info">
<p>Search in CollecTF is fully customizable. Just select a taxonomic
unit (e.g. the Vibrio genus), a transcription factor family or instance (e.g. LexA)
and the set of experimental techniques that reported sites should be backed by and
click Search.
</p>
<hr />
<p>
<span class="muted">CollecTF generates search and browse reports on the fly to provide maximum up-to-date
information. This includes real-time alignment and logo generation. Reports for large
taxonomical families or multiple TFs make take some time. Please be patient!
</span>
</p>
</div>
  <form id="search_form" method="POST" action="{% url browseapp.search.search %}">
    {% csrf_token %}

    <h3>1. Select transcription factor(s)</h3>
    
    <div class="row">
      <div class="boxed span3" style="display:inline-block;">
	
	<input type="text" class="search_input input-block-level search-query" id="tf_tree_search" placeholder="search">
	<br/><br/>
	<label class="checkbox">
	  <a href="#" id="tf_tree_toggle" class="toggle_link pull-right"><small>expand/collapse</small></a>
          <input type="checkbox" class="select_box" id="tf_tree_select"> Select all

	</label>

	<div id="tf_tree" class="tf_tree" style="margin-left:-1em;">
	</div>
      </div>
    </div>

    <hr />
    
    <h3>2. Select species</h3>
    <div class="row">

      <div class="boxed span3" style="display:inline-block;">
	<input type="text" class="search_input input-block-level search-query" id="species_tree_search" placeholder="search">
	<br/><br/>
	<label class="checkbox">
	  <a href="#" id="species_tree_toggle" class="toggle_link pull-right"><small>expand/collapse</small></a>
          <input type="checkbox" class="select_box" id="species_tree_select"> Select all
	</label>
	<div id="species_tree" class="species_tree" style="margin-left:-1em;">
	</div>
      </div>
    </div>
    
    <hr />
	<h3>3. Select experimental techniques</h3>
      <div class="row">

	<div class="span3">
	  <select name="main_category1" id="cat1" class="category">
	    <option value="binding" selected="selected">Binding</option>
	    <option value="expression">Expression</option>
	    <option value="insilico">In-silico</option>
	  </select>
	</div>

	<div class="span1">
	  <select name="boolean1" class="span1">
	    <option value="and">and</option>
	    <option value="or" selected="selected">or</option>
	  </select>
	</div>

	<div class="span3">
	  <select name="main_category2" id="cat2" class="category">
	    <option value="binding">Binding</option>
	    <option value="expression"  selected="selected">Expression</option>
	    <option value="insilico">In-silico</option>
	  </select>
	</div>

	<div class="span1">
	  <select name="boolean2" class="span1">
	    <option value="and">and</option>
	    <option value="or" selected="selected">or</option>
	  </select>
	</div>

	<div class="span3">
	  <select name="main_category3" id="cat3" class="category">
	    <option value="binding" >Binding</option>
	    <option value="expression">Expression</option>
	    <option value="insilico" selected="selected">In-silico</option>
	  </select>
	</div>
      </div>

      <div class="row">
	
	<div class="span3" style="display:inline-block;">
	  <div class="boxed">
	    <input type="text" class="search_input input-block-level search-query" id="cat1_search" placeholder="search">
	    <br/><br/>
	    <label class="checkbox">
	      <a href="#" id="cat1_toggle" class="toggle_link pull-right"><small>expand/collapse</small></a>
              <input type="checkbox" class="select_box" id="cat1_select"> Select all
	    </label>
	    
	    <div  class="cat1 binding" data-tree-input-name="cat_input_1" style="display:block; margin-left:-2em; font-size:12px;">
	    </div>
	    <div  class="cat1 expression " data-tree-input-name="cat_input_1" style="display:none; margin-left:-2em; font-size:12px;">
	    </div>
	    <div  class="cat1 insilico " data-tree-input-name="cat_input_1" style="display:none; margin-left:-2em; font-size:12px;">
	    </div>
	  </div>
	</div>

	
	<div class="span1">
	</div>

	<div class="span3" style="display:inline-block;">
	  <div class="boxed">
	    <input type="text" class="search_input input-block-level search-query" id="cat2_search" placeholder="search">
	    <br/><br/>
	    <label class="checkbox">
	      <a href="#" id="cat2_toggle" class="toggle_link pull-right"><small>expand/collapse</small></a>
              <input type="checkbox" class="select_box" id="cat2_select"> Select all
	    </label>
	    <div  class="cat2 binding " data-tree-input-name="cat_input_2" style="display:none;  margin-left:-2em;  font-size:12px;" > 
	    </div>
	    <div  class="cat2 expression " data-tree-input-name="cat_input_2" style="display:block; margin-left:-2em;  font-size:12px;">
	    </div>
	    <div  class="cat2 insilico " data-tree-input-name="cat_input_2" style="display:none; margin-left:-2em;  font-size:12px;">
	    </div>
	  </div>
	</div>

	<div class="span1">
	</div>

	<div class="span3" style="display:inline-block;">
	  <div class="boxed">
	    <input type="text" class="search_input input-block-level search-query" id="cat3_search" placeholder="search">
	    <br/><br/>
	    <label class="checkbox">
	      <a href="#" id="cat3_toggle" class="toggle_link pull-right"><small>expand/collapse</small></a>
              <input type="checkbox" class="select_box" id="cat3_select"> Select all
	    </label>
	    <div  class="cat3 binding " data-tree-input-name="cat_input_3" style="display:none; margin-left:-2em; font-size:12px;">
	    </div>
	    <div  class="cat3 expression " data-tree-input-name="cat_input_3" style="display:none; margin-left:-2em; font-size:12px;">
	    </div>
	    <div  class="cat3 insilico " data-tree-input-name="cat_input_3" style="display:block; margin-left:-2em; font-size:12px;">
	    </div>
	  </div>
	</div>
      </div>
      <hr />
      <div class="row">
	<input class="btn btn-primary btn-block btn-large" type="submit" value="Search" />
      </div>
    </div>
  </form>
</div>

<script>
var tf_data = {
    'child': [
	{% for TF_family in TF_families %}
	{
	    'text': '{{ TF_family.name }}',
	    'child': [
		{% for TF in TF_family.tf_set.all %}
		{
		    'text': '{{ TF.name }}',
                    'value': '{{ TF.TF_id }}'
		}{% if not forloop.end %},{% endif %}
		{% endfor %}
	    ]
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
    ]
}

var species_data = {
    'child': [
	{% for phylum in phyla %}
	{
	    'text': '{{ phylum.name }}',
	    'child': [
		{% for class_ in phylum.taxonomy_set.all %}
		{
		    'text': '{{ class_.name }}',
		    'child': [
			{% for order in class_.taxonomy_set.all %}
			{
			    'text': '{{ order.name }}',
			    'child': [
				{% for family in order.taxonomy_set.all %}
				{
				    'text': '{{ family.name }}',
				    {% with genera=family.taxonomy_set.all %}
				    {% if genera %}
				    'child': [
					{% for genus in genera %}
					{
					    'text': '{{ genus.name }}',
					    {% with species_all=genus.taxonomy_set.all %}
					    {% if species_all %}
					    'child': [
						{% for species in species_all %}
						{
						    'text': '{{ species.name }}',
						    'value': '{{ species.pk }}'
						}{% if not forloop.last %},{% endif %}
						{% endfor %}
					    ]
					    {% else %}
					    'value': '{{ genus.pk }}'
					    {% endif %}
					    {% endwith %}
					}{% if not forloop.last %},{% endif %}
					{% endfor %}
				    ]
				    {% else %}
				    'value': '{{ family.pk }}'
				    {% endif %}
				    {% endwith %}
				}{% if not forloop.last %},{% endif %}
				{% endfor %}
			    ]
			}{% if not forloop.last %},{% endif %}
			{% endfor %}
		    ]
		}{% if not forloop.last %},{% endif %}
		{% endfor %}
	    ]
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
    ]
}

var binding_techniques = {
    'child': [
	{% for subcategory in binding_techniques|get_keys %}
	{
	    'text': '{{ subcategory }}',
	    'child': [
		{% for technique in binding_techniques|get_item:subcategory %}
		{
		    'text': '{{ technique.name}}',
		    'value': '{{ technique.technique_id }}'
		}{% if not forloop.last %},{% endif %}
		{% endfor %}
	    ]
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
    ]
}

var expression_techniques = {
    'child': [
	{% for subcategory in expression_techniques|get_keys %}
	{
	    'text': '{{ subcategory }}',
	    'child': [
		{% for technique in expression_techniques|get_item:subcategory %}
		{
		    'text': '{{ technique.name}}',
		    'value': '{{ technique.technique_id }}'
		}{% if not forloop.last %},{% endif %}
		{% endfor %}
	    ]
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
    ]
}

var insilico_techniques = {
    'child': [
	{% for subcategory in insilico_techniques|get_keys %}
	{
	    'text': '{{ subcategory }}',
	    'child': [
		{% for technique in insilico_techniques|get_item:subcategory %}
		{
		    'text': '{{ technique.name}}',
		    'value': '{{ technique.technique_id }}'
		}{% if not forloop.last %},{% endif %}
		{% endfor %}
	    ]
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
    ]
}

$('#tf_tree').tree({
    values: tf_data,
    type: 'checkbox',
    input: {name: 'tf_input'},
    toggleLI: true
});
$('#tf_tree').tree('collapseAll');
$('#species_tree').tree({
    values: species_data,
    type: 'checkbox',
    input: {name: 'species_input'},
    toggleLI: true
});
$('#species_tree').tree('collapseAll');

$('.binding').tree({
    values: binding_techniques,
    type: 'checkbox',
    toggleLI: true
});

$('.binding').tree('collapseAll');

$('.expression').tree({
    values: expression_techniques,
    type: 'checkbox',
    toggleLI: true
});

$('.expression').tree('collapseAll');

$('.insilico').tree({
    values: insilico_techniques,
    type: 'checkbox',
    toggleLI: true
});
$('.insilico').tree('collapseAll');

$('.category').on('change', function() {
    var id = $(this).prop('id');
    var selectValue = $(this).val();
    $('.'+id).css("display", "none");
    $('.'+id+'.'+selectValue).css("display", "block");
});

$('input[type=submit]').on('click', function() {
    var selectValue1 = $('#cat1').val();
    var selectValue2 = $('#cat2').val();
    var selectValue3 = $('#cat3').val();
    $.each($('.cat1'), function() {
	if (! $(this).hasClass(selectValue1) )
	    $(this).tree('unselectAll');
    });
    $.each($('.cat2'), function() {
	if (! $(this).hasClass(selectValue2) )
	    $(this).tree('unselectAll');
    });
    $.each($('.cat3'), function() {
	if (! $(this).hasClass(selectValue3) )
	    $(this).tree('unselectAll');
    });
})

$('.search_input').on('keyup', function() {
    //console.log($(this).val());
    var x = $(this).attr('id').replace('_search','');
    $('.'+x+':visible').tree('search', $(this).val());
    if($(this).val()=='')
	$('.'+x+':visible').tree('collapseAll');
    return false;
});

$('.select_box').change(function(ev) {
    var x = $(this).attr('id').replace('_select','');
    if ($(this).prop('checked') == true)
	$('.'+x+':visible').tree('selectAll');
    else
	$('.'+x+':visible').tree('unselectAll');

    return false;
});

$('.toggle_link').on('click', function() {
    var x = $(this).attr('id').replace('_toggle','');
    $('.'+x+':visible').tree('toggleAll');
    return false;
});

</script>

{% endblock %}



