
<form id="search_form" method="POST" action="{% url browseapp.search.search %}">
  {% csrf_token %}
  
  {% include "search_form_fields.html" %}
  
  <div class="row">
    <input class="btn btn-primary btn-block btn-large" type="submit" value="Search" />
  </div>
  <br />
  <div class="row alert alert-warning">
    <small>CollecTF generates search and browse reports on the fly to provide
      maximum up-to-date information. This includes real-time alignment and logo
      generation. Reports for large taxonomical families or multiple TFs make take some
      time. Please be patient!
    </small>
  </div>
</form>


<script>
{% include "search_template.js" %}
</script>




