{% extends "base.html" %}

{% load bootstrap %}

{% block content %}

<div class="container">
<form method="POST" class="form-horizontal"> {% csrf_token %}
  {{ form|bootstrap_horizontal }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10">
      <button class="btn btn-info" type="submit">Submit</button>
    </div>
  </div>
</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var g = $('#id_genome_accession');
    g.attr('autocomplete', 'off');
    $.getJSON("{% url 'browse.json_views.get_genomes' %}", function(data) {
        var genomes = $.map(data, function(n,i) {
            return n['genome_accession'] + ' - ' + n['organism'];
        });
        g.typeahead({
            source: genomes,
            updater: function(item) {return item.split(' ')[0];}
        });
    });
});

</script>

{% endblock %}

