{% extends "base.html" %}

{% block content %}

<p><span>
    <i class="icon-user"></i>&nbsp;Dinara Sagitova – Biochemistry (UMBC)<br>
    <i class="icon-user"></i>&nbsp;Alex Mak – Biological Sciences (UMBC)<br>
    <i class="icon-user"></i>&nbsp;Elliot White – Biological Sciences (UMBC)<br>
    <i class="icon-user"></i>&nbsp;Kathryn Cronise – Math/Biology (UMBC)<br>
    <i class="icon-user"></i>&nbsp;Talmo Pereira – Biochemistry (UMBC)<br>
    <i class="icon-user"></i>&nbsp;Caleb Simmons – Mathematics (UMBC)<br>
    <i class="icon-user"></i>&nbsp;Sephideh Zahiri – Biological Sciences (UMBC)<br>
    <i class="icon-user"></i>&nbsp;Alex Mak – Biological Sciences (UMBC)<br>
    <i class="icon-user"></i>&nbsp;Jason Bender – Biological Sciences (UMBC)<br>
    <i class="icon-user"></i>&nbsp;David Nicholson – Biological Sciences (UMBC) </span></p>


{% endblock %}
