{% extends "base.html" %}

{% block content %}
{% load utils %}

<ul class="nav nav-pills">
  <li class=""><a href="#global" class="nav-li" id="global">Global statistics</a></li>
  <li><a href="#curations" class="nav-li" id="curations">Curation statistics</a></li>
  <li><a href="#site" class="nav-li" id="site">Site statistics</a></li>
</ul>

<div class="span5 content global" style="display:none;">
  <table class="table table-condensed table-striped">
    <tbody>
      <tr>
	<td>Number of TFs</td>
	<td>{{ num_TFs }}</td>
      </tr>
      <tr>
	<td>Number of species</td>
	<td>{{ num_species }}</td>
      </tr>
      <tr>
	<td>Number of curations</td>
	<td>{{ num_curations }}</td>
      </tr>
      <tr>
	<td>Number of binding sites</td>
	<td> {{ num_sites }}</td>
      </tr>
      <tr>
	<td>Number of publications</td>
	<td>{{ num_publications }} ({{pub_completed}}% completed)</td>
      </tr>
    </tbody>
    </table>
</div>
  </div>

<div id="num_curations_div" class="content curations" ></div>
<div id="num_sites_div" class="content site"></div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">

google.load("visualization", "1", {packages:["corechart"]});
//google.setOnLoadCallback(drawChart1);
//google.setOnLoadCallback(drawChart2);

function drawChart1() {
    var data = google.visualization.arrayToDataTable([
	['species', {% for tf in TFs %} '{{ tf }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
	{% for sp in species %}
	['{{ sp }}', {% for tf in TFs %} {{ num_curations_by_TF_species|get_item:tf|get_item:sp }}{% if not forloop.last %}, {% endif %}{% endfor %}]{% if not forloop.last %}, {% endif %}
	{% endfor %}
    ]);
    var options = {
        title: 'CollecTF curation number by TF and species',
        vAxis: {title: 'Species'},
	hAxis: {title: 'Number of curations'},
        chartArea: {height:"90%"},
        height: 1500,
	isStacked: true,
    };
    var chart = new google.visualization.BarChart(document.getElementById('num_curations_div'));
    chart.draw(data, options);
    $('#num_curations_div').hide();
}

function drawChart2() {
    var data = google.visualization.arrayToDataTable([
	['species', {% for tf in TFs %} '{{ tf }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
	{% for sp in species %}
	['{{ sp }}', {% for tf in TFs %} {{ num_sites_by_TF_species|get_item:tf|get_item:sp }}{% if not forloop.last %}, {% endif %}{% endfor %}]{% if not forloop.last %}, {% endif %}
	{% endfor %}
    ]);
    var options = {
	title: 'CollecTF reported TFBS by TF and species',
	vAxis: {title: 'Species'},
	hAxis: {title: 'Number of sites'},
        chartArea: {height:"90%"},
	isStacked: true,
        height: 1500
    };
    var chart = new google.visualization.BarChart(document.getElementById('num_sites_div'));
    chart.draw(data, options);
    $("#num_sites_div").hide();
}
</script>

<script>
    $('.nav-li').on('click', function() {
	$('.content').hide();
	$('.nav-li').parent().removeClass('active');
	$('.' + $(this).attr('id')).show();
	$(this).parent().addClass('active');
	$('html, body').animate({scrollTop: '0px'}, 300);
    });

$(document).ready(function() {
    drawChart1();
    drawChart2();

    var a = $('a[href="' + window.location.hash + '"]');
    $('.content').hide();
    $('.'+a.attr('id')).show();
    a.parent().addClass('active');
    $('html, body').animate({scrollTop: '0px'}, 0);
});

</script>


{% endblock %}
