{% extends "base.html" %}

{% block content %}
<form class="form-horizontal boxed" action="{% url collectfapp.views.pub_external_submission %}" method="POST">{% csrf_token %}

  <div class="control-group">
	<label class="control-label" for="form_email">
	  Your email address
	</label>
	<div class="controls">
	  <input type="email" name="email" required="">
	</div>
      </div>
      
      <div class="control-group">
	<label class="control-label" for="form_feedback_type">
	  PubMed identifier (PMID) for the publication 
	</label>
	<div class="controls">
	  <input type="text"  name="pmid" required="">
	</div>
      </div>
      <div class="control-group">
	<div class="controls">
	  <button type="submit" class="btn">Submit</button>
	</div>
      </div>
</form>

{% endblock %}
