{% extends "base.html" %}

{% load publication_tags %}

{% block content %}

<h1>Submit publication</h1>
<form class="form-horizontal well" action="" method="post">{% csrf_token %}

  <div class="control-group">
  {% for field in form %}
  <dl class="dl-horizontal">
    <dt style="white-space: normal;">{{ field.label }}</dt>
    <dd>{{ field.data }}</dd>
  </dl>
  {% endfor %}
  

  <h2>Publication information</h2>
  <p>{{ pub|as_publication }}</p>

  {% for field in form %}
  {{ field.as_hidden }}
  {% endfor %}
  <input type="hidden" name="{{ stage_field }}" value="2" />
  <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />


  <label class="checkbox">
    <input type="checkbox" name="assignment">I want to be curator for this paper.
  </label>

  
  <label class="checkbox">
    <input type="checkbox" name="contains_no_data">This paper contains no data.
  </label>
  <p class="text-error">Check this button if, after examining the paper, you
    find that the paper does not have data on binding sites. Checking this
    button will mark the paper as having no binding site data and set it to
    the 'curation complete' status.
  </p>
  
  
  
  <button class="btn" type="submit" value="Submit">Submit</button>
  
  </div>
</form>

<h1>Or edit it again</h1>

{% load bootstrap_tags %}
<form class="form-horizontal well" action="" method="post">{% csrf_token %}

  {{ form|as_bootstrap }}
  <div class="control-group">
    <div class="controls">
      <input type="hidden" name="{{ stage_field }}" value="1"/>
      <input type="submit" value="Preview" />
    </div>
  </div>
</form>

{% endblock %}
