{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

<div class="box">
  <h1>Submit publication</h1>
  <br/>
  <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
    {% include "publication.html" %}
    <hr>
    {% for field in form %}
    <div class="form-group">
      <dl class="dl-horizontal">
        <dt style="white-space: normal;">{{ field.label }}</dt>
        <dd>{{ field.data }}</dd>
      </dl>
    </div>
    {% endfor %}
    
    <div class="form-group">
      {% for field in form %}
      {{ field.as_hidden }}
      {% endfor %}
      <input type="hidden" name="{{ stage_field }}" value="2" />
      <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <label class="checkbox">
          <input type="checkbox" name="assignment">I want to be curator for this paper.
        </label>
        <label class="checkbox">
          <input type="checkbox" name="contains_no_data">This paper contains no data.
        </label>
      
        <p class="text-error">Check this button if, after examining the paper, you
          find that the paper does not have data on binding sites. Checking this
          button will mark the paper as having no binding site data and set it to
          the 'curation complete' status.
        </p>
      </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit" value="Submit">Submit</button>
  </form>
</div>

<div class="box">
  <h1>Or edit publication information</h1>
  <br/>
  <form class="form-horizontal" action="" method="post">{% csrf_token %}
    {{ form|bootstrap_horizontal }}
    <div class="form-group">
      <input type="hidden" name="{{ stage_field }}" value="1"/>
      <input class="btn btn-primary btn-block" type="submit" value="Preview" />
    </div>
  </form>
</div>

{% endblock %}
