<p>
Site annotation step is an essential step for the proper curation of TF-binding
site information in CollecTF. During site annotation, specific experimental
techniques are matched to individual sites already identified in reference
genome. The quaternary structure of the TF when interacting with sites
(e.g. dimer), as well as the regulatory mode of TF-binding at each site
(e.g. repressor), if known, can also be entered independently for each site. In
addition, if quantitative data for sites has been manually entered or mapped
from high-throughput data it can also be validated here. The user can select
multiple sites using the mouse in combination with the <kbd>Shift</kbd> key or
through the <code>Select/Unselect all</code> link to easily assign attributes to
several sites at once, using the <code>Apply</code> to selected option on each
column.
</p>

<p>
Assigning experimental techniques, TF structure or role independently to each
site may require some time, but capturing accurate information on the
experimental support and nature of TF- binding sites is the main goal of
CollecTF. We therefore kindly request that experimental techniques be completed
accurately and that attributes such as quaternary structure be set to default
values (<code>Not specified</code>) if they cannot be submitted with
accuracy. Site annotation can be greatly facilitated by sorting the data before
submission, so that sites using similar techniques (or repressed sites, etc.)
appear in consecutive order in the Site Annotation.
</p>
