The submission process ends with a final assessment of the curation. You will be
asked whether the submission requires review (<code>Revision
required</code>). Checking this option is indicated in several
circumstances. For instance, it is quite possible that no appropriate sequence
was identified in NCBI to perform a valid curation. In this case, the curation
is marked for revision.  The TFBS data is stored, but it will not be linked to a
RefSeq sequence until a matching RefSeq record is posted.
