Transcription factor binding sites are often submitted as sequences, of which
there may be multiple instances in a genome. After submission, sites submitted
as sequences must be manually verified by the submitter to validate that the
sites entered correspond to a specific genomic location. The CollecTF submission
system will search the genome sequence specified in Step 1 looking for the
sequence of each of the sites entered. Exact matches to submitted sites are
reported back specifying their location in the genome and nearby genes.  Gene
annotation details can be accessed by hovering over any gene locus. This
information can be used to verify that the sites identified in the NCBI RefSeq
genome sequence correspond to the experimentally reported sites.
