{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
<meta name="description" content="Browse CollecTF based on transcription factors and their families. Get all the information on regulon and transcription factor-binding sites for your TF of interest.">
<title>
TF and TF family browsing on CollecTF
</title>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-3">
      <div class="box">
        <div class="pull-right"><a href="#" id="toggle_all"><i class="fa fa-toggle-off"></i></a></div>
        <ul id="tree" class="list-unstyled">
          {% for TF_family in TF_families %}
          <li>
            <div class="node {% if TF_family.TFs.all %}expandable{% endif %}">
              <i class=""></i>
              <a href="" onclick="getMotifReportsByTFFamily({{ TF_family.TF_family_id }}); return false;">
                {{ TF_family.name}}
              </a>
            </div>

            <ul class="list-unstyled">
              {% for TF in TF_family.TFs.all %}
              <li>
                <div class="node">
                  <i class=""></i>
                  <a href="#" onclick="getMotifReportsByTF({{ TF.TF_id }}); return false;">
                    {{ TF.name }}
                  </a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul> <!-- /#tree -->
    </div> <!-- /.box -->
  </div> <!-- /.col-md-3 -->

  <div class="col-md-9">
      <div class="box" id="browse">
        <h2>Browse CollecTF by transcription factor and families</h2>
        <p>
          Click on each family to expand it and see its associated information,
	      and link out to TF-family or TF-based reports.
        </p>
      </div>
  </div>
</div> <!-- /.row -->


{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'bootstrap_treeview.js' %}"></script>
<script src="{% static 'browse_tree.js' %}"></script>
{% endblock %}
