{% extends "homepage.html" %}

{% block title %}
<meta name="description" content="See the list of CollecTF curators.">
<title>
Curator roster
</title>
{% endblock %}
{% block homepage_content %}

<div>
<h2>CollecTF team</h2>
<hr>
<ul>
  <li>Dinara Sagitova – Biochemistry (UMBC)</li>
  <li>Matthew Coveyou – Bioinformatics (UMBC)</li>
  <li>Elliot White – Biological Sciences (UMBC)</li>
  <li>Joe Sparenberg – Biochemistry (UMBC)</li>  
  <li>Grace Chandler – Bioinformatics (UMBC)</li>
  <li>Kathryn Cronise – Math/Biology (UMBC)</li>
  <li>Elizabeth Cardosa – Bioinformatics (UMBC)</li>
  <li>Rajan Patel – Bioinformatics (UMBC)</li>
  <li>Talmo Pereira – Biochemistry (UMBC)</li>
  <li>Caleb Simmons – Mathematics (UMBC)</li>
  <li>David Nicholson – Computer Sciences (UMBC)</li>
  <li>Catherine Bane – Biological Sciences (UMBC)</li>
  <li>Robert Forder – Mathematics (UMBC)</li>
  <li>Patrick O'Neill – Mathematics (UMBC)</li>
  <li>Sephideh Zahiri – Biological Sciences (UMBC)</li>
  <li>Alex Mak – Biological Sciences (UMBC)</li>
  <li>Jason Bender – Biological Sciences (UMBC)</li>

</ul>

</div>

{% endblock %}
