{% extends "base.html" %}

{% load utiltags %}

{% block content %}

<div class="box">
  <h1>CollecTF statistics</h1>
  <hr/>
    <table class="table table-striped">
      <tbody>
        <tr>
	      <td>Number of TFs</td>
	      <td>{{ TFs.count }}</td>
        </tr>
        <tr>
	      <td>Number of species</td>
	      <td>{{ species.count }}</td>
        </tr>
        <tr>
	      <td>Number of curations</td>
	      <td>{{ curation_count }}</td>
        </tr>
      <tr>
	    <td>Number of binding sites</td>
	    <td> {{ sites_count }}</td>
      </tr>
        <tr>
	      <td>Number of publications</td>
	      <td>{{ publication_count }} ({{publication_complete_ratio}}% completed)</td>
        </tr>
      </tbody>
    </table>
</div>


{% endblock %}

