{% comment %}

Used for displaying a technique and more information about it when clicked on it.

{% endcomment %}

<a data-toggle="modal" data-target="#modal{{ technique.technique_id }}">
  {{ technique.name }}
  {% if technique.EO_term %}
  ({% with term=technique.EO_term %}{{ term }}{% endwith %})
  {% endif %}
</a>
<div id="modal{{ technique.technique_id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          {{ technique.name }}
          {% if technique.EO_term %}
          {% with term=technique.EO_term %} - <a href="{{ technique.ECO_term_link }}" target="_blank">{{ term }}</a>{% endwith %}
          {% endif %}
        </h4>
      </div>
      <div class="modal-body">
        <p>{{ technique.description }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
