{% extends "homepage.html" %}

{% block homepage_content %}

<h1>Browse CollecTF</h1>

<p>
  Browse CollecTF at three different levels:
  <ul>
    <li>
      <p>
        <a href="{% url 'browse_by_taxonomy' %}">NCBI Taxonomy</a> - Browse the
        database using up-to-date NCBI taxonomy. Just click on each taxonomical
        unit to expand it and see its associated information, and link out to
        species-specific reports.
      </p>
    </li>

    <li>
      <p>
        <a href="{% url 'browse_by_TF' %}">TF family</a> - Browse the database
        by transcription factor families. Click on each family to expand it and
        see its associated information, and link out to TF-family or TF-based
        reports.
      </p>
    </li>

    <li>
      <p>
        <a href="{% url 'browse_by_technique' %}">Technique</a> - Browse
        CollecTF by experimental evidence. Click on different groups of
        experimental techniques to expand them and see their associated
        information, and link out to technique.
      </p>
    </li>
  </ul>
</p>

<p>
  Also, check out
  <ul>
    <li><a href="{% url 'list_all_TFs' %}">List of all transcription factors</a></li>
    <li><a href="{% url 'list_all_species' %}">LIst of all species</a></li>
    <li><a href="{% url 'list_all_experimental_techniques' %}">List of all experimental techniques</a></li>
    <li><a href="{% url 'list_all_curations' %}">List of curations</a></li>
    <li><a href="{% url 'list_all_publications' %}">List of all publications</a></li>
  </ul>
</p>
  

{% endblock %}
