{% extends "homepage.html" %}

{% block homepage_content %}

<h1>Welcome to CollecTF!</h1>

<p>
  CollecTF is a database of transcription factor binding sites (TFBS) in the Bacteria domain. It
  aims at becoming a reference, highly-accessed database by relying on its ability to customize
  navigation and data extraction, its relevance to the community, the quality and detail of the
  stored data and the up-to-date nature of the stored information.
</p>

<hr>

<p class="lead">
  A record from CollecTF | <a href="#">View full record</a>
</p>

panel body here
</div>

{% endblock %}


