{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
<meta name="description" content="CollecTF is a database of transcription factor binding sites
(TFBS) in the Bacteria domain. It aims at becoming a reference, highly-accessed database by
relying on its ability to customize navigation and data extraction, its relevance to the
community, the quality and detail of the stored data and the up-to-date nature of the stored
information.">

<title>
CollecTF homepage
</title>
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-md-3">
    <div class="box">
      <ul class="nav nav-pills nav-stacked">
        <li> <a href="{% url 'homepage_about' %}">About</a></li>
        <li> <a href="{% url 'homepage_browse' %}">Browse</a></li>
        <li> <a href="{% url 'homepage_search' %}">Search</a></li>
        <li> <a href="{% url 'homepage_compare' %}">Compare</a></li>
        <li> <a href="{% url 'homepage_contribute' %}">Contribute</a></li>
        <li> <a href="{% url 'homepage_stats' %}">Stats</a></li>
        <li> <a href="{% url 'homepage_links' %}">Links</a></li>
        <li> <a href="{% url 'homepage_feedback' %}">Feedback</a></li>
        <li> <a href="{% url 'homepage_cite' %}">Cite</a></li>
        <li> <a href="{% url 'homepage_acknowledgments' %}">Acknowledgements</a></li>
      </ul>
    </div>
  </div> <!-- /.col-md-3 -->

  <div class="col-md-9">
    <div class="box">
      {% block homepage_content %}
      {% endblock %}
    </div>
  </div>

</div><!-- /.row -->

{% block js %}
{{ block.super }}
<script src="{% static 'homepage.js' %}"></script>
{% endblock %}

{% endblock %}
