{% extends "homepage.html" %}
{% load staticfiles %}

{% block homepage_content %}

<h2>Please contribute!</h2>

<p>Make your data more visible and accessible to researchers. Submit to
CollecTF and have the TF-binding sites you identified displayed in NCBI RefSeq
genomes for all the world to see!</p>

<p>
  <b class=""><a href="{% url 'add_pubmed_publication' %}">Suggest an article
  for curation</a></b> - Know of a peer-reviewed publication describing
  experimentally-validated bacterial TF-binding sites that is not yet
  on <a href="{% url 'list_all_publications' %}"> our to-do
  list</a>, Please let us know!
</p>


<b class="">Submit data <a href="{% url 'curation' %}">using the curation
wizard</a> </b>

<ul>
  <li>Please
  check <a href="{% static 'CollecTF_submission_guide.pdf' %}">the
  submission guide </a> (and also
    <a href="{% static 'CollecTF_high_throughput_submission_guide.pdf' %}">
      high-throughput submission guide</a>) for the curation wizard.
  </li>

  <li>Note that you must be <a href="{% url 'registration_register' %}">
  registered as an external user</a> to submit.</li>

  <li>
      Submitted records will be assessed by CollecTF staff and incorporated into
      the database prior to submission to NCBI.
  </li>
</ul>


<p>
  <b class="">Become a curator</b> -

  CollecTF is open to everyone willing and able to read primary scientific
literature and extract relevant content. Please contact us if you want to
become a member of <a href="{% url 'curator_roster' %}">the CollecTF team</a>.
</p>

{% endblock %}
