{% extends "homepage.html" %}

{% block homepage_content %}

<h2>Cite CollecTF</h2>

<p>If you use CollecTF in your research, please cite any of the following:</p>

<div class="shaded-background">
Kılıç, S., White, E. R., Sagitova, D. M., Cornish, J. P., & Erill,
I. (2013). CollecTF: a database of experimentally validated transcription
factor-binding sites in Bacteria.

<i>Nucleic Acids Research</i>, 42 (D1): D148-D155 doi:10.1093/nar/gkt1087 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/24234444">PubMed
  Link <i class="icon-external-link"></i>
</a>
<small>Original CollecTF paper</small>
</div>
  
<div class="shaded-background">
Erill, I. (2015). Every Site Counts: Submitting Transcription Factor-Binding Site Information through the CollecTF Portal.

<i>Journal of Bacteriology</i>, 197(15):2454-7. doi: 10.1128/JB.00031-15
<a href="http://www.ncbi.nlm.nih.gov/pubmed/26013488">PubMed
  Link <i class="icon-external-link"></i>
</a>
<small>Opinion piece on community curation</small>
</div>
  
<div class="shaded-background">
Kılıç, S., Sagitova, D.M., Wolfish, S., Bely, B., Courtot, M., Ciufo, S., Tatusova, T., O'Donovan, C., Chibucos, M.C., Martin, M.J., Erill, I.
(2016). From data repositories to submission portals: rethinking the role of domain-specific databases in CollecTF.

<i>Database (Oxford)</i>, doi: 10.1093/database/baw055.
doi:10.1093/nar/gkt1087 <a href="http://www.ncbi.nlm.nih.gov/pubmed/27114493">PubMed
  Link <i class="icon-external-link"></i></a>
<small>Integration of CollecTF with major repositories and the <a href="http://www.geneontology.org/">Gene Ontology</a></small>
</div>  

</p>

{% endblock %}}

