{% extends "homepage.html" %}

{% block homepage_content %}

<h1>Cite CollecTF</h1>

<p>If you use CollecTF in your research, please cite:</p>

  <div class="shaded-background">
Kılıç, S., White, E. R., Sagitova, D. M., Cornish, J. P., & Erill,
I. (2013). CollecTF: a database of experimentally validated transcription
factor-binding sites in Bacteria.

<i>Nucleic Acids Research</i> (1 January 2014) 42 (D1): D148-D155
doi:10.1093/nar/gkt1087 <a href="http://www.ncbi.nlm.nih.gov/pubmed/24234444">PubMed
  Link <i class="icon-external-link"></i></a>
  </div>
</p>

{% endblock %}}

