
{% extends "homepage.html" %}

{% block homepage_content %}

<h1>CollecTF statistics</h1>

<ul>
  <li> <a href="{% url 'stats' %}">CollecTF statistics</a></li>
  <li> <a href="{% url 'list_all_curations' %}">List of all curations</a></li>
  <li> <a href="{% url 'list_all_publications' %}">List of all publications</a></li>
  <li> <a href="{% url 'list_all_TFs' %}">List of transcription factors</a></li>
  <li> <a href="{% url 'list_all_species' %}">List of species</a></li>
  <li> <a href="{% url 'list_all_experimental_techniques' %}">List of experimental techniques</a></li>
  <li> <a href="{% url 'curator_roster' %}">Curators roster</a></li>
  <li> <a href="{% url 'release_history' %}">Release history</a></li>
</ul>

{% endblock %}

