{% extends "homepage.html" %}

{% block homepage_content %}

<h2>About CollecTF</h2>

<p>CollecTF, a play on words using the French collectif [collective] and the acronym for
transcription factor [TF], is a database of transcription factor binding sites (TFBS) in the
Bacteria domain.</p>

<p>CollecTF aims at becoming a reference, highly-accessed database by relying on its ability to
customize navigation and data extraction, its relevance to the community, the quality and detail of
the stored data and the up-to-date nature of the stored information.</p>

<h2>Features</h2>
<ul>
  <li>
    CollecTF exclusively stores data on experimentally-validated TFBS and places special emphasis on
    providing a transparent curation process that captures the experimental support for sites as
    reported by authors in peer-reviewed publications.
  </li>

  <li>
    The CollecTF curation model combines direct author submissions and in-house curation. If you
    have data to submit, please do
    <a href="{% url 'homepage_contribute' %}"> contribute</a> it!
  </li>

  <li>
    Reported binding sites are mapped
    to <a href="www.ncbi.nlm.nih.gov/refseq/">NCBI RefSeq</a> complete genome
    records to provide genomic context and the experimental process is detailed
    during curation. Curation records are open for inspection. Please,
    <a href="{% url 'homepage_feedback' %}"> let us know</a> if you spot an error.
  </li>

  <li>
    CollecTF focuses on providing fully customizable access to the stored
    data. The database can be browsed by <a href="{% url 'browse_by_TF'
    %}">transcription factor families</a>, <a href="{% url 'browse_by_taxonomy'
    %}">NCBI taxonomy</a> or <a href="{% url 'browse_by_technique'%}">
    experimental support</a>, or through <a href="{% url 'motif_search' %}">
    customized searches</a> integrating these three elements that allow users
    to specify the desired level of experimental support.
  </li>

  <li>
    CollecTF reports export to common FASTA and flat-file formats,
    and <a href="{% url 'release_history' %}">periodic flat-file releases of
    the database</a> are available for download.
  </li>

  <li>
    CollecTF data is periodically submitted to NCBI, where it is integrated
    into <a href="www.ncbi.nlm.nih.gov/refseq/">RefSeq</a> complete genome
    records through <i>db_xref</i> links.
  </li>

  <li>
    CollecTF generates specific records for
    all <a href="http://www.uniprot.org/uniprot/">UniProtKB</a> identifiers in
    the database, and these records are cross-linked in the corresponding
    UniProtKB entry through a <i>db_xref</i> field.
  </li>

  <li>
    CollecTF generates <a href="http://geneontology.org/">Gene Ontology
    (GO)</a> annotations to formalize the relationship between a transcription
    factor and the chromosomal DNA it binds and the genes upon which such
    binding has a transcriptionalregulatory effect.
    The <a href="{% url 'list_all_experimental_techniques' %}"> suporting
    experimental evidence</a> is mapped to
    standardized <a href="http://www.evidenceontology.org/">Evidence Ontology
    (ECO)</a> terms.
</ul>

{% endblock %}
