{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#about" data-toggle="tab">About</a></li>
      <li role="presentation"><a href="#browse" data-toggle="tab">Browse</a></li>
      <li role="presentation"><a href="#search" data-toggle="tab">Search</a></li>
      <li role="presentation"><a href="#compare" data-toggle="tab">Compare</a></li>
      <li role="presentation"><a href="#contribute" data-toggle="tab">Contribute</a></li>
      <li role="presentation"><a href="#stats" data-toggle="tab">Stats</a></li>
      <li role="presentation"><a href="#links" data-toggle="tab">Links</a></li>
      <li role="presentation"><a href="#feedback" data-toggle="tab">Feedback</a></li>
      <li role="presentation"><a href="#cite" data-toggle="tab">Cite</a></li>
      <li role="presentation"><a href="#acknowledgements" data-toggle="tab">Acknowledgements</a></li>
    </ul>
  </div>

  <div class="col-md-9">
    <div class="tab-content">
      <div class="tab-pane active" id="about">
        {% include "homepage_about.html" %}
      </div>

      <div class="tab-pane fade" id="browse">
        {% include "homepage_browse.html" %}
      </div>

      <div class="tab-pane fade" id="search">
        {% include "homepage_search.html" %}
      </div>

      <div class="tab-pane fade" id="compare">
        {% include "homepage_compare.html" %}
      </div>

      <div class="tab-pane fade" id="contribute">
        {% include "homepage_contribute.html" %}
      </div>

      <div class="tab-pane active" id="stats">
        {% include "homepage_stats.html" %}
      </div>

      <div class="tab-pane fade" id="links">
        {% include "homepage_links.html" %}
      </div>

      <div class="tab-pane fade" id="feedback">
        {% include "homepage_feedback.html" %}
      </div>

      <div class="tab-pane fade" id="cite">
        {% include "homepage_cite.html" %}
      </div>

      <div class="tab-pane fade" id="acknowledgements">
        {% include "homepage_acknowledgements.html" %}
      </div>
    </div><!-- /.tab-content -->
  </div><!-- /.col-md-9 -->

{% endblock %}
