{% extends "base.html" %}

{% block title %}
<meta name="description" content="List of all species indexed in CollecTF, shown using NCBI taxonomy categories.">
<title>
Species list
</title>
{% endblock %}

{% block content %}

<div class="box">
  <h2>CollecTF taxonomy</h2>
  <hr/>
  <ul>
    {% for phylum in phyla %}
    <li>
      <a href="http://www.ncbi.nlm.nih.gov/taxonomy/{{ phylum.taxonomy_id }}/" target="blank_">
        {{ phylum.name }}
      </a> (phylum)
      <ul>
        {% for class in phylum.children.all %}
        <li>
          <a href="http://www.ncbi.nlm.nih.gov/taxonomy/{{ class.taxonomy_id }}/" target="blank_">
            {{ class.name }}
          </a> (class)
          <ul>
            {% for order in class.children.all %}
            <li>
              <a href="http://www.ncbi.nlm.nih.gov/taxonomy/{{ order.taxonomy_id }}/" target="blank_">
                {{ order.name }}
              </a> (order)
              <ul>
                {% for family in order.children.all %}
                <li>
                  <a href="http://www.ncbi.nlm.nih.gov/taxonomy/{{ family.taxonomy_id }}/" target="blank_">
                    {{ family.name }}
                  </a> (family)
                  <ul>
                    {% for genus in family.children.all %}
                    <li>
                      <a href="http://www.ncbi.nlm.nih.gov/taxonomy/{{ genus.taxonomy_id }}/" target="blank_">
                        <i>{{ genus.name }}</i>
                      </a> (genus)
                      <ul>
                        {% for species in genus.children.all %}
                        <li>
                          <a href="http://www.ncbi.nlm.nih.gov/taxonomy/{{ species.taxonomy_id }}/" target="blank_">
                            <i>{{ species.name }}</i>
                          </a> (species) -
                          {% with genome_acc=species.genome.all.0.genome_accession %}
                          <a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ genome_acc }}" target="blank_">
                            {{ genome_acc }}
                          </a>
                          {% endwith %}
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
