{% extends "base.html" %}

{% block title %}
<meta name="description" content="List of all experimental techniques used in CollecTF, mapped to corresponding Evidence Ontology terms.">
<title>
Experimental technique list (Evidence Ontology)
</title>
{% endblock %}


{% block content %}

<div class="box">
  <h1>List of experimental techniques in CollecTF</h1>
  <hr/>
  <dl class="">
    {% for t in techniques %}
    <dt>
      {{ t.name }}
      {% if t.EO_term %} -  <a href="#">{{ t.EO_term }}</a>{% endif %}
    </dt>
    <dd>
      {{ t.description }}
    </dd>
    <hr />
    {% endfor %}
  </dl>
</div>

{% endblock %}
