<div class="accordion" id="pearson_accordion">
  <div class="accordion-heading">
    <a href="#pearson_collapse" data-toggle="collapse" data-parent="pearson_accordion">
      <span class="pull-right"><small>[expand/collapse]</small></span></a>
    Pearson Correlation Coefficient (PCC) gives a measure of correlation between base frequencies of
    two motif columns.
  </div>
  <div id="pearson_collapse" class="accordion-body collapse">
    
    <p>
      Given two motif columns $X$ and $Y$, PCC is defined as

      <div class="eq">
        $$
        PCC(X,Y) = \frac{\sum_{b \in B} (f_X(b) - \bar{f_X}) \cdot (f_Y(b) - \bar{f_Y})}
        {\sqrt{\sum_{b \in B} (f_X(b) - \bar{f_X})^2 \cdot
        \sum_{b \in B} (f_Y(b) - \bar{f_Y})^2}}
        $$
      </div>
      where $B = (A,C,G,T)$, $f_X(b)$ is the frequency of base $b$ on column $X$ and $\bar{f_X}$ is
      the average frequency of column $X$.
    </p>

    <p>
      The PCC between two motifs is defined as the sum of the column comparison scores of the
      ungapped alignment of the two motifs.
    </p>
  </div>
</div>

<hr />

<p>
  PCC score histogram for random permutations on the two motifs.  For each test, 100 replicates of
  each motif are obtained by randomly sampling without replacement.  Motif similarity is computed
  using the PCC statistic.  Blue bars denote frequencies of PCC values for replicate pair
  comparisons. The red dashed lines corresponds to the PCC of compared motifs.
</p>

<p>$PCC(M_a, M_b) = {{ score }}$ and $p = {{p_value}}$</p>
<div>
  <img src="{{ plot }}" />
</div>

