{% extends "base.html" %}

{% block content %}

<section class="box">
  <h2>Transcription Factor Binding Site Information</h2>
  <dl class="dl-horizontal">
    <dt>dbxref</dt>
    <dd>CollecTF:EXPSITE_{{ dbxref }}</dd>
    <dt>Genome</dt>
    <dd>
      <i>{{ meta_site.delegate_site_instance.genome.taxonomy.name }}</i> -
      <a href="http://www.ncbi.nlm.nih.gov/nuccore/?term={{ meta_site.delegate_site_instance.genome.genome_accession }}"
         target="_blank">
        {{ meta_site.delegate_site_instance.genome.genome_accession }}
      </a>
    </dd>
    <dt>TF</dt>
    <dd>
      {{ meta_site.delegate.curation.TF.name }}
      {% for TF_instance in meta_site.delegate.curation.TF_instances.all %}
      [<a href="http://uniprot.org/uniprot/{{TF_instance.uniprot_accession }}"
      target="_blank">UniProtKB:{{ TF_instance.uniprot_accession }}</a>, 
      <a href="{% url 'view_motif_report_by_uniprot_accession' TF_instance.uniprot_accession %}">view regulon</a>]{% if not forloop.last %}, {% endif %}{% endfor %}
    </dd>
  </dl>
</section>

<section class="box">
  <h2>Supporting Evidence</h2>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Binding site</th>
        <th>Location</th>
        <th>Publication</th>
        <th>Experimental techniques used</th>
        <th>Curation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="sequence">{{ meta_site.delegate_sequence }}</span></td>
        <td>
          <span class="fixed-width">
            {% if meta_site.delegate_site_instance.strand == 1%}+{% else %}-{% endif %}
            [{{ meta_site.delegate_site_instance.start|add:1 }},
            {{meta_site.delegate_site_instance.end|add:1 }}]
          </span>
        </td>
        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{ meta_site.delegate.curation.publication.pmid }}"
               target="_blank">
            {{ meta_site.delegate.curation.publication.pmid }}</a></td>
        <td>
	      {% for technique in meta_site.techniques %}
          {% include "experimental_technique.html" %}-
	      {% endfor %}
        </td>
        <td>
          <a href="{% url 'view_curation' meta_site.delegate.curation.curation_id %}" target="_blank">
            {{ meta_site.delegate.curation.curation_id }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>


<section class="box">
  <h2>Regulated genes</h2>

  <p>
    Regulated genes for each binding site are displayed below. Gene regulation diagrams
	show <span class="label label-black">binding sites</span>,
    <span class="label label-green">positively-regulated genes</span>,
    <span class="label label-red">negatively-regulated genes</span>,
    <span class="label label-orange"> both positively and negatively regulated
      genes</span>, <span class="label label-blue"> genes with unspecified type of regulation</span>.
    For each indvidual site, experimental techniques used to determine the site are also given.
  </p>

  <div class="">
    {{ meta_site.regulation_diagram }}

    <hr/>

    <table class="table table-condensed table-striped">
      <thead>
        <th>Gene</th>
        <th>Locus tag</th>
        <th>Description</th>
      </thead>

      <tbody>
        {% for regulation in meta_site.regulations %}
        <tr>
          <td>
            <a href="http://www.ncbi.nlm.nih.gov/gene/{{ regulation.gene.gene_accession }}" target="_blank">
              {{ regulation.gene.name }}
            </a>
          </td>
          <td>{{ regulation.gene.locus_tag }}</td>
          <td>{{ regulation.gene.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>


{% endblock %}
