{% extends "base.html" %}

{% block content %}

{% load utils %}
{% load publication_tags %}

<div class="container">

{% load bootstrap_tags %}
<form method="post" action="" class="form-horizontal boxed">{% csrf_token %}

{% if form.non_field_errors %}
<div class="alert alert-error">
  {% if form_error_title %}
  <strong>{{ form_error_title }}</strong>
  {% endif %}
  {% for error in form.non_field_errors %}
  {{ error }}<br />
  {% endfor %}
</div>
{% endif %}

<div class="well">
<h3>General information</h3>
<dl class="dl-horizontal">
  <dt>Curator</dt>
  <dd>{% with curator=curation.curator.user %}{{ curator.first_name }} {{ curator.last_name }}{% endwith %}</dd>
  <dt>Publication</dt>
  <dd>{{ curation.publication|as_publication }}</dd>
  <dt>Last modified at</dt>
  <dd>{{ curation.last_modified }}</dd>
</dl>

</div>

{% with f="bootstrap/field.html" %}

<div class="well">
<h3>TF/Genome information</h3>
{% with field=form.TF %}{% include f %}{% endwith %}
{% with field=form.TF_type %}{% include f %}{% endwith %}
{% with field=form.TF_function %}{% include f %}{% endwith %}
{% with field=form.genome_accession %}{% include f %}{% endwith %}
{% with field=form.site_species_same %}{% include f %}{% endwith %}
{% with field=form.TF_accession %}{% include f %}{% endwith %}
{% with field=form.TF_species_same %}{% include f %}{% endwith %}
{% with field=form.site_species %}{% include f %}{% endwith %}
{% with field=form.TF_species %}{% include f %}{% endwith %}
</div>

<div class="well">
<h3>Experimental Techniques</h3>
{% with field=form.contains_promoter_data %}{% include f %}{% endwith %}
{% with field=form.contains_expression_data %}{% include f %}{% endwith %}
{% with field=form.techniques %}{% include f %}{% endwith %}
{% with field=form.experimental_process %}{% include f %}{% endwith %}
{% with field=form.external_db_type %}{% include f %}{% endwith %}
{% with field=form.external_db_accession %}{% include f %}{% endwith %}
{% with field=form.forms_complex %}{% include f %}{% endwith %}
{% with field=form.complex_notes %}{% include f %}{% endwith %}
</div>

<div class="well">
<h3>Site instances</h3>
{% for field in form %}
{% if field.name|startswith:"site_instance" %}
{% include f %}
{% endif %}
{% endfor %}
</div>

<div class="well">
<h3>Curation Review</h3>
{% with field=form.revision_reasons %}{% include f %}{% endwith %}
{% with field=form.confidence %}{% include f %}{% endwith %}
{% with field=form.NCBI_submission_ready %}{% include f %}{% endwith %}
{% with field=form.paper_complete %}{% include f %}{% endwith %}
{% with field=form.notes %}{% include f %}{% endwith %}

</div>



<input type="hidden" name="curation_id" value="{{ curation.pk }}">

<div class="control-group">
  {% with field=form.confirm %}{% include f %}{% endwith %}
  <div class="controls">
    
    <input type="submit" value="Submit Curation" />
  </div>
</div>

{% endwith %}

</form>

</div>


{% endblock %}
