* {
    font-family: Helvetica, Arial, sans-serif;
}
body {
 
}
textarea {
    font-family: monospace, Courier;
}
.sequence {
    font-family: monospace, Courier;
}
#footer {
    padding-top: 20px;
    bottom: 0;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;

 }

#footer p{
    color: #777;
}

#wrap {

}

#main {
    padding-top: 60px;
}

#push, #footer {
    height: 140px;
}

.table-borderless td {
    border: 0;
}

.spacer {
    padding-top: 40px;
}

.grey {
    color: #5A5A5A;
}

.exp_verified_reg {
    color:green;
}

.myanchor {
    display: block;
    padding-top: 40px;
}


.bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}


.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.masthead h1 {
    font-size: 90px;
}

.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 20px;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           box-shadow: 0 1px 2px rgba(0,0,0,.05);
		background-color: whiteSmoke;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }


