{% extends "base.html" %}

{% block head-extras %}
<title> CollecTF - Browse by TF/TF-family</title>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-3 boxed_browse">
    <div class="pull-right"><a href="#" id="toggle_all">Toggle all &nbsp;</a> </div>
    <div>
    <ul id="tree" class="list-unstyled">
      {% for fam in TF_families %}
      <li>  
	    <div class="node {% if fam.tf_set.all %}expandable{% endif %}">
	      <i class=""></i>
	      <a href="" onclick="getReportLinksByTFFamily({{ fam.TF_family_id }});
                              return false;">
            {{ fam.name }}
          </a>
	    </div>
	
	    <ul class="list-unstyled">
	      {% for TF in fam.tf_set.all %}
	      <li>
	        <div class="node">
	          <i class=""></i>
      	      <a href="" onclick="getReportLinksByTF('tf', {{ TF.TF_id }}); return false;">{{ TF.name }}</a>
	        </div>
	      </li>
	      {% endfor %}
	    </ul>
      </li>
      {% endfor %}
    </ul>
    </div>
  </div>


  <div id="browse" class="col-md-8">
    <div id="intro" class="boxed">

      <p>Browse the database by transcription factor families. Click on each family to
	expand it and see its associated information, and link out to TF-family or TF-based
	reports.</p>

    </div>
  </div>
</div>

{% load static from staticfiles %}
<script type="text/javascript" src="{% static "tree_view.js" %}"></script>
<script type="text/javascript" src="{% static "browse.js" %}"></script>

{% endblock %}
