{% extends "base.html" %}

{% block head-extras %}
<title> CollecTF - Browse by experimental technique </title>
{% endblock %}

{% block content %}
{% load utiltags %}

<div class="row">
  <div class="col-md-4">
    <div class="boxed_browse">
      <div class="pull-right"><a href="#" id="toggle_all">Toggle all &nbsp;</a> </div>
      <ul id="tree" class="list-unstyled">
	    <!-- binding -->
	    <li>
	      
	      <div class="node expandable">
	        <i class=""></i>
	        <a href="" onclick="getReportLinksByTechniqueFunction('binding');
                                return false;">
              Detection of Binding
          </a>
          </div>
	      <ul class="list-unstyled">
	        {% for category_id in binding_techniques|get_keys %}
	        <li>
	          <div class="node expandable">
		        {% with x=categories|get_item:category_id %}
		        
		        <i class=""></i>
		        <a href="" onclick="getReportLinksByTechniqueCategory('binding', {{ x.category_id }});
                                    return false;">
                  {{ x.name }}
                </a>
		        {% endwith %}
	          </div>
	          <ul class="list-unstyled">
		        {% for technique in binding_techniques|get_item:category_id %}
		        <li>
		          <div class="node">
		            <i class=""></i>
		            <a href="" onclick="getReportLinksByTechnique({{ technique.technique_id }});
                                        return false;">
	                  {{ technique.name }}
                  </a>
                  </div>
		        </li>
		        {% endfor %}
	          </ul>
	        </li>
	        {% endfor %}
	      </ul>
	    </li>

	    <!-- expression -->
	    <li>
	      
	      <div class="node expandable">
	        <i class=""></i>
	        <a href="" onclick="getReportLinksByTechniqueFunction('expression'); return false;">Assessment of Expression</a></div>
	      <ul class="list-unstyled">
	        {% for category_id in expression_techniques|get_keys %}
	        <li>
	          <div class="node expandable">
		        {% with x=categories|get_item:category_id %}
		        <i class=""></i>
		        <a href="" onclick="getReportLinksByTechniqueCategory('expression', {{ x.category_id }} ); return false;">{{ x.name }}</a>
		        {% endwith %}
	          </div>
	          <ul class="list-unstyled">
		        {% for technique in expression_techniques|get_item:category_id %}
		        
		        <li>
		          
		          <div class="node">
		            <i class=""></i>
		            <a href="" onclick="getReportLinksByTechnique({{ technique.technique_id }}); return false;">{{ technique.name }}</a></div>
		        </li>
		        {% endfor %}
	          </ul>
	        </li>
	        {% endfor %}
	      </ul>
	    </li>
      </ul>
    </div>
  </div>
  
  <div class="col-md-8" id="browse">
    <div id="intro" class="boxed">
      <p>
        Browse CollecTF by experimental evidence. Click on different groups of
	    experimental techniques to expand them and see their associated
	    information, and link out to technique.
      </p>
    </div>
  </div>
</div>

{% load static from staticfiles %}
<script type="text/javascript" src="{% static "tree_view.js" %}"></script>
<script type="text/javascript" src="{% static "browse.js" %}"></script>  


{% endblock %}

