{% extends "base.html" %}

{% block head-extras %}
<title> CollecTF - Curators </title>
{% endblock %}

{% block content %}

<ul>

  <li>Dinara Sagitova – Biochemistry (UMBC)</li>
  <li>Alex Mak – Biological Sciences (UMBC)</li>
  <li>Elliot White – Biological Sciences (UMBC)</li>
  <li>Kathryn Cronise – Math/Biology (UMBC)</li>
  <li>Talmo Pereira – Biochemistry (UMBC)</li>
  <li>Caleb Simmons – Mathematics (UMBC)</li>
  <li>Sephideh Zahiri – Biological Sciences (UMBC)</li>
  <li>Alex Mak – Biological Sciences (UMBC)</li>
  <li>Jason Bender – Biological Sciences (UMBC)</li>
  <li>David Nicholson – Biological Sciences (UMBC)</li>

</ul>



{% endblock %}
