{% comment %}
Used for displaying a technique and more information about it when clicked on
it.
{% endcomment %}

<a data-toggle="modal" data-target="#modal{{ experiment_id }}">
  {{ technique.name }}
</a>

<div id="modal{{ experiment_id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ technique.name }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ technique.description }}</p>
        <p><a href="#"> Evidence ontology term</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
