{% extends "base.html" %}

{% block content %}

<h2>List of motifs</h2>

<table class="table table-hover table-bordered">
<thead>
<tr>
  <th>TF</th>
  <th>Organism</th>
  <th>Report</th>
</thead>

<tbody data-provides="rowlink">
{% for report in reports %}
<tr>
  <td>{{ report.TF.name }} </td>
  <td>{{ report.species.name }}</td>
  <td>
    <a href="{% url 'browse.view_reports.view_reports' 'species' report.species.pk 'tf' report.TF.pk 'all' -1 0 %}">
      view
    </a>
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
