<div class="accordion" id="ALLR_accordion">
  <div class="accordion-heading">
    <a href="#ALLR_collapse" data-toggle="collapse" data-parent="ALLR_accordion">
      <span class="pull-right"><small>[expand/collapse]</small></span></a>
    Average Log Likelihood Ratio (ALLR) between two motif columns is the sum of two
    log-likelihood ratios.

  </div>
  <div id="ALLR_collapse" class="accordion-body collapse">
    <p>
      ALLR between two columns $X$ and $Y$ is defined as
      <div class="eq">
        $$
        ALLR(X,Y) = \frac{\sum_{b \in B} n_X(b) \cdot \log{\frac{f_Y(b)}{p(b)}} +
        \sum_{b \in B} n_Y(b) \cdot \log{\frac{f_X(b)}{p(b)}}}
        {\sum_{b \in B} (n_X(b) + n_Y(b))}
        $$
      </div>
      where $B = (A,C,G,T)$, $n_X(b)$ is the count of the base $b$ in column $X$,
      $f_X(b)$ the frequency of base $b$ on column $X$ and $p(b)$ the background probability of base $b$.    
    </p>

    <p>
      The ALLR between two motifs is defined as the sum of the column comparison scores of the ungapped alignment of the two motifs.
    </p>
    
  </div>
</div>

<hr />
<p>
  ALLR score histogram for random permutations on the two motifs.  For each test, 100
  replicates of each motif are obtained by randomly sampling without replacement.
  Motif similarity is computed using the ALLR statistic.  Blue bars denote frequencies
  of ALLR values for replicate pair comparisons. The red dashed lines corresponds to
  the ALLR of compared motifs.  
</p>
<p>$ALLR(M_a, M_b) = {{ sc }}$ and $p = {{p_value}}$</p>
<div>
  <img src="{{ plot }}" />
</div>


