<div class="accordion" id="levenshtein_accordion">
  <div class="accordion-heading">
    <a href="#levenshtein_collapse" data-toggle="collapse" data-parent="levenshtein_accordion">
      <span class="pull-right"><small>[expand/collapse]</small></span></a>

    <p>In addition to motif-based similarity/distance measures (i.e. Kullback-Leibler
      Divergence, Pearson Correlation Coefficient), two motifs can be compared by
      measuring the similarity/distance between all pairs of sites from the two
      motifs. CollecTF uses Levenshtein distance (also known as "edit distance") to
      measure the distance between two sites.
    </p>
  </div>
  <div id="levenshtein_collapse" class="accordion-body collapse">
    Given two strings (two TF binding sites), the Levenshtein distance is defined as
    the minimum number of character edits (insertion, deletion and substitution)
    required to change one string into the other.

    The following plots show the Levenshtein distance distribution of all pairs of
    sites, one from the first motif and one from the second one.
  </div>
</div>

<div class="tabbable">
  <div class="tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#Levenshtein_similarity" data-toggle="tab">Motif similarity</a></li>
      <li><a href="#Levenshtein_unaligned" data-toggle="tab">Unaligned binding sites</a></li>
      <li><a href="#Levenshtein_aligned" data-toggle="tab">Aligned binding sites</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="Levenshtein_similarity">
        <div>
          <img src="{{ boxplot }}" />
        </div>
        
        <div>
          <img src="{{ hist }}" />
        </div>
      </div>

      <div class="tab-pane" id="Levenshtein_unaligned">
        <p>The list of binding sites for two motifs as curated</p>
        <div class="row-fluid">
          <div class="col-md-6">
            <pre>
              {% for site in unaligned_sites_a %}{{ site }}
              {% endfor %}
            </pre>
          </div>
          <div class="col-md-6">
            <pre>
              {% for site in unaligned_sites_b %}{{ site }}
              {% endfor %}
            </pre>
          </div>
        </div>
      </div>
      
      <div class="tab-pane" id="Levenshtein_aligned">
        <p>The collection of binding sites for the two motifs. For the alignment of variable-length binding sites,
          <a href="http://www.biomedcentral.com/1471-2105/14/108/">LASAGNA</a> is used.
        </p>

        <div class="row-fluid">
          <div class="col-md-6">
            <pre>
              {% for site in aligned_sites_a %}{{ site }}
              {% endfor %}
            </pre>
          </div>
          <div class="col-md-6">
            <pre>
              {% for site in aligned_sites_b %}{{ site }}
              {% endfor %}
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

