{% extends "base.html" %}

{% block head-extras %}
<title> CollecTF - search transcription factor binding motifs </title>
{% endblock %}

{% block content %}

<div class="alert alert-info alert-block">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <p>Search in CollecTF is fully customizable. Just select a taxonomic
    unit (e.g. the Vibrio genus), a transcription factor family or instance (e.g. LexA)
    and the set of experimental techniques that reported sites should be backed by and
    click Search.
  </p>
</div>



<div class="">

  <form class="form" role="form"  id="search_form" method="POST" action="{% url 'browse.search.search' %}">
    {% csrf_token %}
    {% include "search_form_fields.html" %}
  </form>

</div>


{% load staticfiles %}

<script type="text/javascript">
  {% include "populate_search.js" %}
</script>
{% endblock %}



