{% extends "base.html" %}

{% block head-extras %}
<title> CollecTF - view all curations </title>
{% endblock %}

{% block content %}

<h2>List of curations</h2>

<table class="table table-hover table-bordered">
<thead>
<tr>
  <th>Curation id</th>
  <th>TF</th>
  <th>Organism</th>
  <th>PMID</th>
  <th>Curated by</th>
  <th></th>
</thead>

<tbody data-provides="rowlink">
{% for curation in curations %}
<tr>
  <td>
    {{ curation.curation_id }}
  </td>
  <td>{{ curation.TF.name }}</td>
  <td>{{ curation.site_species }}</td>
  <td><span title="{% with pub=curation.publication %}{{ pub.title }}, {{ pub.authors }} {% endwith %}">
      <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{ curation.publication.pmid }}">{{ curation.publication.pmid }}</a></span></td>
  <td>{{ curation.curator.user.first_name }} {{ curation.curator.user.last_name }}</td>
  <td>    <a href="{% url 'browse.view_curation.view_curation'  curation.pk  %}">view</a></td>

</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
