{% extends "base.html" %}

{% block content %}

<div class="container">

<section id="info">
<h3>Transcription Factor Binding Site Information</h3>
<dl class="dl-horizontal">
  <dt>dbxref</dt>
  <dd>{{ dbxref }}</dd>
  <dt>Genome</dt>
  <dd><a href="http://www.ncbi.nlm.nih.gov/nuccore/?term={{ head_csi.site_instance.genome.genome_accession }}" target="_blank">
      {{ head_csi.site_instance.genome.genome_accession }}</a> (<i>{{ head_csi.site_instance.genome.taxonomy.name }}</i>)</dd>
  <dt>TF</dt>
  <dd><a href="http://www.ncbi.nlm.nih.gov/protein/?term={{ head_csi.curation.TF_instances.all.0.name }}" target="_blank">
      {{ head_csi.curation.TF_instances.all.0.name }}</a> ({{ head_csi.curation.TF.name }})</dd>
</dl>
</section>

<section id="curation_list">
<h3>Supporting Evidence</h3>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Binding site</th>
      <th>Location</th>
      <th>Publication</th>
      <th>Experimental techniques used</th>
      <th>Curation</th>
    </tr>
  </thead>
  <tbody>
    {% for csi in csis %}
    <tr>
      <td><span class="sequence">{{ csi.site_instance.seq }}</span></td>
      <td><span class="fixed-width">{% if csi.site_instance.strand == 1%}+{% else %}-{% endif %}[{{ csi.site_instance.start|add:1 }},{{ csi.site_instance.end|add:1 }}]</span></td>
      <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{ csi.curation.publication.pmid }}" target="_blank">{{ csi.curation.publication.pmid }}</a></td>
      <td>
	{% for tech in csi.experimental_techniques.all %}
	{{ tech.name }}{% if not forloop.last %}, {% endif %}
	{% endfor %}
      </td>
      <td><a href="{% url 'browse.view_curation.view_curation' csi.curation.curation_id %}" target="_blank">[{{ csi.curation.curation_id }}]</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if alignment %}
<h3>Multiple Sequence Alignment</h3>
<pre>
{% for al in alignment %}{{ al }}
{% endfor %}</pre>
{% endif %}

</section>

<section id="regulation_diagram">
<!-- and graphic goes here -->
<h3>Regulated genes</h3>
Regulated genes for each binding site are displayed below. Genes that are reported
for TF-site mediated regulation are displayed in green.
<div class="boxed">
{% load diagram %}
<div class="regulation-diagram">
  {% with site=head_csi.site_instance %}
  {{ regulations|regulation_diagram:site }}  
  {% endwith %}
</div>

<hr />

<table class="table table-condensed table-striped">
  <thead>
    <th>Gene</th>
    <th>Locus tag</th>
    <th>Description</th>
  </thead>

  <tbody>
    {% for regulation in regulations %}
    <tr>
      <td><a href="http://www.ncbi.nlm.nih.gov/gene/{{ regulation.gene.gene_accession }}" target="_blank">{{ regulation.gene.name }}</a></td>
      <td>{{ regulation.gene.locus_tag }}</td>
      <td>{{ regulation.gene.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

</section>

<script type="text/javascript">
  $('[data-toggle="confirmation"]').confirmation({popout: true, singleton: true, container: 'body'});
</script>


{% endblock %}
