<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    {% load static from staticfiles %}
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/docs.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "bootstrap-listTree.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "collectf.css" %}" rel="stylesheet">
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap/js/auxiliary.js" %}"></script>
    <script src="{% static "underscore-min.js" %}"></script>
    <script src="{% static "bootstrap-listTree.js" %}"></script>
    <script src="{% static "collectf.js" %}"></script>
    <script src="{% static "jquery.blockUI.js" %}"></script>
    <script src="{% static "browse.js" %}"></script>
    <script src="{% static "bootstrap-tree.js" %}"></script>
  </head>

  <body>

    <div id="wrap">
      <!-- header -->
      <div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container-fluid">
            
	    <div class="nav-collapse collapse">
	      <ul class="nav">
		<a class="brand" href="{% url collectfapp.views.home %}">collecTF</a>
		<li class="divider-vertical"></li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><a href="{% url mainpageapp.views.about %}">About</a></li>
		    <li><a href="{% url mainpageapp.views.browse %}">Browse</a></li>
		    <li><a href="{% url mainpageapp.views.search %}">Search</a></li>
		    <li><a href="{% url mainpageapp.views.contribute %}">Contribute</a></li>
		    <li><a href="{% url mainpageapp.views.stats %}">Stats</a></li>
		    <li><a href="{% url mainpageapp.views.links %}">Links</a></li>
		    <li><a href="{% url mainpageapp.views.feedback %}">Feedback</a></li>
		    <li><a href="{% url mainpageapp.views.cite %}">Cite</a></li>
		    <li><a href="{% url mainpageapp.views.acknowledgements %}">Acknowledgements</a></li>
		    {% if user.is_superuser %}
		    <li><a href="{% url admin:index %}" class="navbar-link">Admin page</a></li>
		    {% endif %}
		  </ul>
	      </ul>

	      <ul class="nav pull-right">

		{% if user.is_authenticated %}
		<li class="navbar-text">logged in as {{user.username}}</li>
		<li class="divider-vertical"></li>
		<li><a href="{% url collectfapp.signupview.logout %}" class="navbar-link">Logout</a></li>
		{% else %}
		<li><a class="navbar-link" href="{% url mainpageapp.views.register_request %}">Register</a></li>
		<li class="divider-vertical"></li>
		<li><a class="navbar-link" href="{% url collectfapp.signupview.login %}">Login</a></li>
		{% endif %}
	      </ul>

            </div><!--/.nav-collapse -->
	  </div>
	</div>
      </div>

      <script type="text/javascript">
// ----------------------------------------------------------
// If you're not in IE (or IE version is less than 5) then:
//     ie === undefined
// If you're in IE (>5) then you can determine which version:
//     ie === 7; // IE7
// Thus, to detect IE:
//     if (ie) {}
// And to detect the version:
//     ie === 6 // IE6
//     ie> 7 // IE8, IE9 ...
//     ie <9 // Anything less than IE9
// ----------------------------------------------------------
var ie = (function(){
    var undef, v = 3, div = document.createElement('div');

    while (
        div.innerHTML = '<!--[if gt IE '+(++v)+']><i></i><![endif]-->',
        div.getElementsByTagName('i')[0]
    );

    return v> 4 ? v : undef;
}());
      </script>

      <!--[if lt IE 7]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;
	  It seems that you are using older version of Internet Explorer. We are working on making CollecTF compatible across all major browsers.
	  Until we fix that issue, please try latest version of <a href="https://www.google.com/intl/en/chrome/browser/"> Google Chrome</a>
	  or <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>. Thanks for your patience.
	  </div> <![endif]-->
      
      <div class="container-fluid" id="main">
	<!-- any messages? -->
	{% for message in messages %}
	<div class="alert alert-block alert-{{message.tags}}">
	  <button type="button" class="close" data-dismiss="alert">x</button>
	  {{ message }}
	</div>
	{% endfor %}
	<!-- main stuff -->
	{% block content %}
	{% endblock %}
      </div>
    <div id="push"></div>
    </div>



    <div id="footer">
      <div class="container-fluid">
	<div class="row-fluid">
	  <div class="span9">
	    <p>Please send comments to collectfdb@umbc.edu. For help, visit
	      <a href="http://erilllab.biosci.umbc.edu/wiki/index.php5/CollecTF">
		CollecTF wiki</a>.
	    </p>
	    <hr />
	    <p class="muted">
	      <small>
		This material is based upon work supported by the National Science Foundation under Grant Number MCB-1158056.
		Any opinions, findings, and conclusions or recommendations expressed in this material
		are those of the author(s) and do not necessarily reflect the views of the National
		Science Foundation.</small></p>
	  </div>

	  <div class="span3">
	    <p class="text-right">
	      {% load static from staticfiles %}
	      <a href="http://compbio.umbc.edu"><img src="{% static "lablogo.png" %}"></a>
	    </p>
	  </div>
	</div>
      </div>
    </div>


    
  </body>
</html>

