<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <style>
    * {
    font-family: Ubuntu;
    }
    body {
    padding-top: 60px;
    padding-bottom: 40px;
    }


  </style>
</head>

<body>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <!-- header -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url collectfapp.views.home %}">collecTF</a>
	<div class="nav-collapse collapse">
          <p class="navbar-text pull-right">
	    {% if user.is_authenticated %}
            Logged in as {{user.username}} | 
	    <a href="{% url collectfapp.signupview.logout %}" class="navbar-link"> logout</a>
	    {% else %}
	    <a class="navbar-link" href="{% url collectfapp.signupview.login %}">login</a>
	    {% endif %}
          </p>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  
  <div id="footer">
    <div class="container">
      <legend></legend>
      <p>If you find anything wrong, send an email to sefa1@umbc.edu</p>
    </div>
  </div>

</body>
</html>

