{% extends "base.html" %}

{% block content %}


<ul class="breadcrumb">
  <li><a href="{% url browseapp.views.browse_by_TF_main %}">Home</a><span class="divider">/</span></li>
  <li><a href="{% url browseapp.views.browse_by_TF_family TF.family.TF_family_id %}">{{ TF.family.name}}</a><span class="divider">/</span></li>
  <li class="active">{{ TF.name }} </li>
</ul>


<div class="page-header">
<h2>{{ TF.name }}</h2>
<p>{{ TF.description }}</p>
</div>

{% if species %}
<table class="table table-striped">
<thead>
  <tr>
    <th>Species</th>
  </tr>
</thead>
<tbody>
  {% for sp in species %}
  <tr>
    <td><a href="{% url browseapp.views.browse_post_TF_sp TF.TF_id sp.taxonomy_id %}">{{ sp.name }}</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% else %}
<p>
No curation for this transcription factor.
</p>

{% endif %}

{% endblock %}
