{% extends "base.html" %}

{% block content %}
{% load utils %}

<ul class="breadcrumb">
  <li><a href="{% url browseapp.views.browse_by_species_main %}">Home</a><span class="divider">/</span></li>
  <li><a href="{% url browseapp.views.browse_by_species_taxon taxon_name %}">{{ taxon_name }}</a><span class="divider">/</span></li>
  <li class="active">{{ sp.name }} </li>
</ul>

<div class="page-header">
<h2>{{ sp.name }}</h2>
<p></p>
</div>


{% if TFs %}

<table class="table table-striped table-condensed">
<thead>
  <tr>
    <th>TF</th>
    <th>Number of binding sites</th>
    <th>Number of curations</th>
  </tr>
</thead>
<tbody>
  {% for TF in TFs %}
  <tr>
    <td><a href="{% url browseapp.views.browse_post_TF_sp TF.TF_id sp.taxonomy_id %}">{{ TF.name }}</a></td>
    <td>{{ num_site_instances|get_item:TF.TF_id }}</td>
    <td>{{ num_curations|get_item:TF.TF_id }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% else %}
<p>
No curation for this species.
</p>

{% endif %}


{% endblock %}
