{% extends "base.html" %}

{% block content %}


<ul class="breadcrumb">
  <li><a href="{% url browseapp.views.browse_by_TF_main %}">Home</a><span class="divider">/</span></li>
  <li class="active">{{ TF_family.name}}<span class="divider">/</span></li>
</ul>

<div class="page-header">
<h2>{{ TF_family.name }}</h2>
<p>{{ TF_family.description }}</p>
</div>

<table class="table table-striped">
<thead>  
  <tr>
    <th>TF</th>
    <th>Function</th>
  </tr>
    
<tbody>
  {% for TF in TFs %}
  <tr>
    <td><a href="{% url browseapp.views.browse_by_TF TF.TF_id %}">{{ TF.name }}</a></td>
    <td>{{ TF.description }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}
