{% extends "base.html" %}

{% load bootstrap_tags %}

{% block content %}

<form method="POST" id="" action="" class="form-horizontal">{% csrf_token %}
  {{ form|as_bootstrap }}
  <div class="control-group">
    <div class="controls">
      <input class="btn" type="submit" value="submit" />
    </div>
  </div>
</form>

{% if site_curation_dict and site_regulation_dict %}
{% load utils %}
<table class="table table-condensed table-borderless">
  <thead>
    <tr>
      <th width="20%"></th>
      <th width="20%">Gene</th>
      <th width="40%">Function</th>
      <th width="20%">Curation</th>
    </tr>
  </thead>
  <tbody>
    {% for site in site_curation_dict|get_keys %}
    <tr><td colspan="4"><hr /></td></tr>
    <tr>
      <td colspan="3">
	<div class="operon">{% with regs=site_regulation_dict|get_item:site %} {{ regs|gene_diagram:site }} {% endwith %}</div>
	<!-- <span class="sequence">{{ site.seq }}</span> -->
      </td>
      <td>{% for cur in site_curation_dict|get_item:site %}
	<a href="{% url collectfapp.viewcurationview.view_curation cur.curation_id %}">[{{cur.curation_id}}], </a>{% endfor %}
      </td>
    </tr>

    {% for reg in site_regulation_dict|get_item:site %}
    <tr>
      <td></td>
      <td>{{reg.gene.name}} ({{ reg.gene.locus_tag }})</td>
      <td>{{reg.gene.description}}</td>
      <td></td>
    </tr>
    {% endfor %}
          
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% if csi %}
<!-- weblogo here -->
<img src="{{ weblogo_image_data }}">
<!-- weblogo end -->

<!--
    <a class="btn pull-right" href="{% url browseapp.views.report_FASTA form.TF.value form.species.value %}"><i class="icon-download"></i> Download sites</a>
-->
{% endif %}


{% endblock %}
