{% extends "base.html" %}
{% load webdesign %}
{% block content %}
<div class="hero-unit">
      <h1>Welcome to collecTF</h1>

      <p>collecTF, a play on words using the French collectif [collective] and the acronym
	for transcription factor [TF], is a database of prokaryotic transcription factor
	binding sites (TFBS). The main aim of collecTF is to provide high-quality,
	manually-curated information on the experimental evidence for transcription factor
	binding sites, and to map these onto reference bacterial genomes for ease of access
	and processing.
      </p>

  <p>
    <a class="btn btn-large btn-info" href="http://erilllab.biosci.umbc.edu/wiki/images/e/ef/CollecTF_primer.pdf">
      Get started</a>
    <a class="btn btn-large btn-info" href="http://erilllab.biosci.umbc.edu/wiki/index.php5/CollecTF">
      Learn more </a>

  </p>

</div>


<div class="row-fluid">
  <div class="span4 ">
    <h3><i class="icon-beaker"></i> Browse database</h3>

    <ul class="unstyled">
      <!--
      <li><i class="icon-ok"></i> <a class="" href="">Browse by taxonomy</a></li>
      -->
      <li><i class="icon-ok"></i> <a class="" href="{% url browseapp.browse_TF.browse_by_TF_main %}">Browse by TF family</a></li>
      <li><i class="icon-ok"></i> <a class="" href="{% url browseapp.browse_species.browse_by_species_main %}">Browse by taxonomy</a></li>
      <li><i class="icon-ok"></i> <a class="" href="{% url browseapp.browse_TF_and_species.browse_TF_and_species %}">Search binding sites by TF and species</a></li>
    </ul>
    <p></p>

  </div>
  <div class="span4">
    <h3><i class="icon-edit"></i> Data submission</h3>

    <ul class="unstyled">
      <li><i class="icon-ok"></i> <a class="" href="{% url collectfapp.pubview.pubmed_submission %}">Submit a paper for curation</a></li>
      <li><i class="icon-ok"></i> <a class="" href="{% url collectfapp.curationview.curation %}">Submit a new curation</a></li>
      <!--<li><i class="icon-ok"></i> <a class="" href="#myModal" role="button" class="btn" data-toggle="modal">View/Edit previous curations</a></li>-->
    </ul>

  </div>
  <div class="span4">
    <h3><i class="icon-bar-chart"></i> Database statistics</h3>

    <ul class="unstyled">
      <li><i class="icon-ok"></i>  <a class="" href="{% url browseapp.browse_all.view_all_publications %}">View all publications</a></li>
      <li><i class="icon-ok"></i> <a class="" href="{% url browseapp.browse_all.view_all_curations %}">View all curations</a></li>
      <li><i class="icon-ok"></i> <a class="" href="{% url dbstatsapp.views.curation_stats %}">Curation statistics</a></li>
    </ul>
  </div>
</div>

<!-- Modal -->
<!--
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Previous curations</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      {% for c in curations %}
      <tr>
	<th>{{ c }}</th>
	<th><div class="btn-group"><a class="btn" href="{% url browseapp.browse_curation.browse_curation cid=c.curation_id %}">view</a>
	    <a class="btn" href="{% url collectfapp.editcurationview.edit_curation cid=c.curation_id %}">edit</a>
	  </div>
	</th>

      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
-->


{% endblock %}
