{% extends "base.html" %}
{% block content %}
<p>What do you want to do?</p>
<ul>
  <li>
    Publication submission
    <ul>
      <li><a href="/pubmed_submission/">pubmed publication submission</a></li>
      <li><a href="/non_pubmed_submission/">non-pubmed publication submission</a></li>
    </ul>
  </li>
  <li><a href="/curation/">Submit a new curation</a></li>
</ul>

<h2>Previously submitted curations of <u>{{ curator }}</u></h2>
{% for c in curations %}
<a href="/edit_curation/{{ c.curation_id }}/">{{ c }}</a> <br/>
{% endfor %}

<hr/>
{% endblock %}
