{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
  <h1>Welcome to collecTF</h1>
  <p>CollecTF (a play on words using the French collectif [collective] and the
    acronym for transcription factor [TF]) is a database of prokaryotic
    transcription factor binding sites (TFBS) that aims at supplementing and, with
    time, superseding the current major TFBS databases (RegulonDB and Prodoric).
  </p>
  <p><a class="btn btn-large btn-primary" href="http://erilllab.biosci.umbc.edu/wiki/index.php5/CollecTF">
      Learn more</a></p>
</div>

<div class="row">
  <div class="span6">
    <h2>Publication submission</h2>
    <p>description here</p>
    <p><a class="btn" href="{% url collectfapp.pubview.pubmed_submission %}">Pubmed submission</a>
       <a class="btn" href="{% url collectfapp.pubview.pubmed_submission %}">non-pubmed submission</a>
    </p>
  </div>

  <div class="span6">
    <h2>Curation submission</h2>
    <p>description here</p>
    <a class="btn" href="{% url collectfapp.curationview.curation %}">Submit a new curation</a>
    <a class="btn" href="#myModal" role="button" class="btn" data-toggle="modal">Edit curation</a>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Previous curations</h3>
  </div>
  <div class="modal-body">
    <ul>
    {% for c in curations %}
    <li><a href="{% url collectfapp.editcurationview.edit_curation cid=c.curation_id %}"> {{ c }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

{% endblock %}
