{% extends "base.html" %}
{% block content %}

{% load bootstrap_tags %}

<h2>Publication submission </h2>
<p>Use this form to submit a candidate publication for curation in
CollecTF. Read briefly the publication abstract to validate that it contains
relevant data before submitting.</p>
<p >
<legend></legend>



<form class="form-horizontal well" action="" method="post">{% csrf_token %}

  {{ form|as_bootstrap }}
  <div class="control-group">
    <div class="controls">
      <input type="hidden" name="{{ stage_field }}" value="1"/>
      <input type="submit" value="Preview" />
    </div>
  </div>
</form>


{% endblock %}
 
