{% extends "base.html" %}

{% block content %}

<h1>Submit publication</h1>
<form class="form-horizontal" action="" method="post">{% csrf_token %}
  {% for field in form %}
  <dl class="dl-horizontal">
    <dt>{{ field.label }}</dt>
    <dd>{{ field.data }}</dd>
  </dl>
  {% endfor %}
  

  <p>{{ pub.citation }}</p>

  {% for field in form %}
  {{ field.as_hidden }}
  {% endfor %}
  <input type="hidden" name="{{ stage_field }}" value="2" />
  <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
  <input type="checkbox" name="assignment">I want to be curator for this paper.
  <p><input class="btn" type="submit" value="Submit" /></p>
</form>

<h1>Or edit it again</h1>

{% load bootstrap_tags %}
<form class="form-horizontal" action="" method="post">{% csrf_token %}

  {{ form|as_bootstrap }}
  <div class="control-group">
    <div class="controls">
      <input type="hidden" name="{{ stage_field }}" value="1"/>
      <input type="submit" value="Preview" />
    </div>
  </div>
</form>

{% endblock %}
