
{% extends "base.html" %}

{% block content %}

{% load bootstrap_tags %}

<div class="progress progress-info progress-striped">
  <div class="bar" style="width:{% widthratio wizard.steps.step1 wizard.steps.count 100%}%">
    Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
  </div>
</div>

  <h2>{{ form_title }} </h2>
  <p>{{ form_description }}</p>
  <legend></legend>

<form method="post" action="" class="form-horizontal well">  {% csrf_token %}

  {{ wizard.management_form }}

  {% if weblogo_img %}
  <div class="" style="text-align:right;"><img src="{{ weblogo_img }}"></div>
  {% endif %}

  &nbsp;

  {{ wizard.form|as_bootstrap }}

  <div class="control-group">
    <div class="controls">
    {% if wizard.steps.prev %}
    <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
    {% endif %}
    <input class="btn" type="submit" value="next step"/>
    </div>
  </div>
</form>

{% endblock %}

