body {
  font-size: 14px;
}

table {
    font-size: 14px;
}

.boxed {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.boxed_browse {
  font-size: 13px;
  position: relative;
  padding: 0px;
  padding-top: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.nav-pills, .nav-tabs {
    margin-bottom: 15px;
}
.accordion {
    margin-bottom: 15px;
}

.boxed_tab {
    border-top: 0px;
}

textarea {
    font-family: monospace, Courier;
    width: 60%;
}

.sequence {
    font-family: monospace, Courier;
}

/* box corners */
.alert {
    border-radius: 0px;
}

.nav > li > a {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}
.btn {
    border-radius: 0px;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #f5f5f5;
  padding-top: 25px;

}

#main {
    margin-bottom: 175px;
}

.rotate-45 {    

}

table {
    max-width: none;
}

.popover{
    display:block !important;
    max-width: 400px!important;
    width:auto;
}