{% extends "add_curation.html" %}

{% load bootstrap %}

{% block form %}

{{ wizard.form|bootstrap_horizontal }}

<script type="text/javascript">

// collapse external DB type and accession number fields together
var dom =  $("#id_2-external_db_type").parent().parent();
dom.hide();
dom.next().hide();
$("#id_2-has_external_db").change(function() {
    dom.toggle();
    dom.next().toggle();
});

// collapse complex notes
dom_2 = $('#id_2-complex_notes').parent().parent();
dom_2.hide();
$('#id_2-forms_complex').change(function() {
    dom_2.toggle();
});

// Change the ul style (hide bullet points on the list of experimental techniques)
$('ul').css('list-style-type', 'none');

</script>

{% endblock %}
