{% extends "base.html" %}

{% load staticfiles %}

{% block head-extras %}
<!-- BioPortal -->
<link href="{% static "jquery.ncbo.tree.css" %}" rel="stylesheet" type="text/css"></link>
<script type="text/javascript" src="{% static "jquery.ncbo.tree-2.0.0.js" %}"></script>
<script type="text/javascript" src="{% static "form_complete.js" %}"></script>


{% endblock %}


{% block content %}
{% load bootstrap %}

<form class="form-horizontal" method="post" action=""> {% csrf_token %}

{{ form|bootstrap_horizontal }}

<div class="form-group">
  <div class=" col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10">
    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
  </div>
</div>

<p class="col-sm-offset-2 col-lg-offset-2">
	<b>Use the following tree to search for classes in Evidence Ontology</b>
</p>

<div id="widget_tree" class=" col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10">
	<div class="ncboTree" style="width: 350px">	</div>
</div>

</form>

<script type="text/javascript">
	var widget_tree = $("#widget_tree").NCBOTree({
		apikey: "b704adac-1ab2-4589-b190-9e15f805367d",
		ontology: "ECO", 
		startingRoot: "http://purl.obolibrary.org/obo/ECO_0000000"
	});
</script>


{% endblock %}
