{% extends "base.html" %}

{% block content %}
{% load bootstrap %}

<p>
If the TF family is not listed, you can add new one
<a href="{% url 'curate.add_TF.add_TF_family' %}">here</a>.</p>

<form class="form-horizontal" method="post" action="">{% csrf_token %}

{{ form|bootstrap_horizontal }}

<div class="form-group">
  <div class=" col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10">
    <input type="submit" class="btn btn-block btn-primary" value="Submit" />
  </div>
</div>

</form>

{% endblock %}
