{% extends "base.html" %}

{% block content %}

{% load bootstrap %}
{% load staticfiles %}

{% if wizard.steps.step1 == 1 %}
<div class="alert alert-block alert-info">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <h2>Welcome to the CollecTF curation wizard.</h2>
  <p>
    Please do not use "Back" or "Forward" button of your browser during the
    submission process. Instead, please use the navigation buttons at the bottom
    of the page.
  </p>
  <p>
    If you need any help during your curation, please refer to
    the
    <a href="{% static "CollecTF_submission_guide.pdf"%}" target="_blank">
      submission guide</a>. If you have further questions, please
    <a href="{% url 'homepage.views.feedback'%}" target="_blank"> let us
    know</a>!
  </p>
</div>
{% endif %}

<div class="progress progress-striped">
  <div class="progress-bar progress-bar-info" role="progressbar"
       aria-valnow="{{ wizard.steps.step1 }}"
       aria-valmin="0"
       aria-valmax="{{ wizard.steps.count }}"
       style="width:{% widthratio wizard.steps.step1 wizard.steps.count 100%}%">
    <span class=""> Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</span>
  </div>
</div>

<h2>
  {{ form_title }}
  <small>
    <a href="#form-description-collapse" data-toggle="collapse"
       data-parent="form-description">
      [toggle help]
    </a>
  </small>
</h2>

<div class="accordion" id="form-description">
  <div class="accordion-body collapse" id="form-description-collapse">
    <p class="lead">{{ form_description }}</p>
  </div>
</div>   

<div class="boxed">
  <form method="post" action="" class="form-horizontal">  {% csrf_token %}

    {{ wizard.management_form }}
    {% if weblogo_img %}

    {% comment %}
    At site-match step, weblogo is rendered. For other steps, the weblogo_img
    variable returns empty, no weblogo is rendered #}
    {% endcomment %}

    <div class="col-md-offset-6 col-md-6" style="text-align:right;"><img class="img-responsive" src="{{ weblogo_img }}"></div>
    {% endif %}

    &nbsp;

    <div>
    {% block form %}

    {% endblock %}
    </div>


    <div class="form-group">
      <div class=" col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10">
        {% if wizard.steps.prev %}
        <button class="btn btn-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
        {% endif %}
        <input class="btn btn-primary" type="submit" value="next step"/>
      </div>
    </div>
  </form>
</div>

{% endblock %}

