{% extends "add_curation.html" %}

{% load bootstrap %}

{% block form %}

{{ wizard.form|bootstrap_horizontal }}

<script type="text/javascript">

function externalDBToggle() {
    // collapse external DB type and accession number fields together
    var doms =  $("[id^='id_2-external_db_type']");
    for(var i=0; i<doms.length; i++) {
        var dom = $(doms[i]).parent().parent();
        dom.toggle('fast');
        dom.next().toggle('fast');
    }
}

function complexNotesToggle() {
    // collapse complex notes
    var dom_2 = $('#id_2-complex_notes').parent().parent();
    dom_2.toggle('fast');
}

externalDBToggle();
$('#id_2-has_external_db').change(externalDBToggle);
complexNotesToggle();
$('#id_2-forms_complex').change(complexNotesToggle);
// Change the ul style (hide bullet points on the list of experimental techniques)
$('ul').css('list-style-type', 'none');

</script>

{% endblock %}
