{% extends "add_curation.html" %}

{% load bootstrap %}

{% block form %}

{{ wizard.form|bootstrap_horizontal }}

<script type="text/javascript">

function textAreaUpload() {
    $('#id_3-sites').each(function () {
        $('<input type="file">').insertAfter($(this))
            .change(function () {
                var textarea = $(this).prev(),
                file = $(this).get(0).files[0],
                reader = new FileReader();
                reader.readAsText(file);
                reader.onload = function () {
                    textarea.val(reader.result);
                };
                reader.onerror = function (evt) {
                    textarea.val("error reading file.");
                };
            });
    });
}

function enable_qval_format() {
    $("#id_3-quantitative_data_format").parent().parent().toggle();
}
$(document).ready(function (){
    //textAreaUpload();
    // hide quantitative data by default
    $('#id_3-quantitative_data_format').parent().parent().hide();
    // add a toggle button
    var sites_help_text = $('#id_3-sites').parent().find('p').html();
    $('#id_3-sites').parent().find('p').html(sites_help_text +
                                             'If the manuscript reports quantitative values associated with sites,\
please enter the quantitative data format <a href="#" onclick="enable_qval_format(); return false;"> \
here.</a>');
});

</script>

{% endblock %}
