{% extends "add_curation.html" %}

{% load bootstrap %}

{% block form %}

{{ wizard.form|bootstrap_horizontal }}

<script type="text/javascript">

function textAreaUpload() {
    $('#id_3-sites').each(function () {
        $('<input type="file">').insertAfter($(this))
            .change(function () {
                var textarea = $(this).prev(),
                file = $(this).get(0).files[0],
                reader = new FileReader();
                reader.readAsText(file);
                reader.onload = function () {
                    textarea.val(reader.result);
                };
                reader.onerror = function (evt) {
                    textarea.val("error reading file.");
                };
            });
    });
}

function enable_qval_format() {
    $("#id_3-quantitative_data_format").parent().parent().toggle();
}
$(document).ready(function (){
    //textAreaUpload();
});

</script>

{% endblock %}
