{% extends "base.html" %}

{% block content %}

{% include "add_curation.html" %}

<script type="text/javascript">

// collapse external DB type and accession number fields together
var dom =  $("#id_2-external_db_type").parent().parent();
dom.hide();
dom.next().hide();
$("#id_2-has_external_db").change(function() {
    dom.toggle();
    dom.next().toggle();
});

// collapse complex notes
dom = $('#id_2-complex_notes').parent().parent().toggle();
$('#id_2-forms_complex').change(function() {
    dom.toggle();
});

</script>

{% endblock %}
