Please report <i>all</i> techniques used in the paper to verify the
transcription factor binding sites that are being reported in this
submission. Most work reporting TF-binding sites involves a heterogeneous mix of
techniques (e.g. a site is first shown to bind through footprinting and EMSA,
then other sites are validated with EMSA alone). You will be able to specify
which technique applies to each site at a later step in the curation process. In
this step we also ask that you provide <i>a brief written summary of the
process</i> used to verify the submitted TFBS (not the overall experimental
process, but just how the selected experimental techniques were combined to
define reported TFBS). Please provide also external database accession numbers
for expression data if applicable (e.g. GEO accession numbers) and, if
available, details on whether the TF forms complex with other molecules in order
to bind.
