{# Used for populating fields on experimental techniques step of the curation #}

<span>
  {{ experiment_name }}
  <a class="text-muted" data-toggle="modal" data-target="#modal{{ experiment_id }}">
    <small>more</small>
  </a>
</span>

<div id="modal{{ experiment_id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ experiment_name }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ experiment_description }}</p>
        <p><a href="#"> Evidence ontology term</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

