{% extends "base.html" %}

{% block content %}

<h1>Curation info</h1>
<table class="table table-striped">
<thead>
</thead>

<tbody>
<tr>
  <td>Publication</td>
  <td>
    {% with pub=curation.publication %}
    {{ pub.title }}; <br/>{{ pub.authors }}; {{ pub.journal }} {{pub.publication_date}}
    {{pub.volume}}({{pub.issue}}):{{pub.pages}}
    {% endwith %}
    <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{ curation.publication.pmid }}" target="_blank">
      [{{ curation.publication.pmid }}]
    </a>
  </td>
</tr>

<tr>
  <td>TF</td>
  <td>{{ curation.TF.name }} 
    {% for TF_instance in curation.TF_instances.all %}
    <a href="http://www.ncbi.nlm.nih.gov/protein/?term={{ TF_instance.protein_accession }}" target="_blank">
      [{{ TF_instance.protein_accession }}]</a>{% if not forloop.last %}, {% endif %}{% endfor %}
  </td>
</tr>

<tr>
  <td>Reported TF sp.</td>
  <td>{{ curation.TF_species|default:"-"}}</td>
</tr>

<tr>
  <td>Reported site sp.</td>
  <td>{{ curation.site_species|default:"-" }}</td>
</tr>

<tr>
  <td>Created by</td>
  <td>{{ curation.curator.user.first_name }} {{ curation.curator.user.last_name }}</td>
</tr>

<tr>
  <td>Curation notes</td>
  <td>{{ curation.notes|default:"-" }}</td>
</tr>

<tr>
  <td>Experimental process</td>
  <td>{{ curation.experimental_process|default:"-" }}</td>
</tr>

{% if curation.forms_complex %}
<tr>
  <td>TF forms complex with other proteins for binding to reported sites.</td>
  <td>{{ curation.complex_notes }}</td>
</tr>
{% endif %}

{% if curation.chip_info %}
<tr>
  <td>ChIP assay conditions</td>
  <td>{{ curation.chip_info.assay_conditions }}</td>
</tr>
<tr>
  <td>ChIP notes</td>
  <td>{{ curation.chip_info.method_notes }}</td>
</tr>
{% endif %}

</tbody>
</table>

<h1>Binding sites</h1>

<div class="">
  <ul class="nav nav-tabs" id="sites_tab">
    <li><a href="#reported" data-toggle="tab">Sites reported in the paper</a></li>
    <li class="active"><a href="#curated" data-toggle="tab">Sites matched in the genome</a></li>
    {% if curation.quantitative_data_format %}
    <li><a href="#quantitative_data" data-toggle="tab">Site-specific quantitative values</a></li>
    {% endif %}
    {% if curation.chip_info %} {# if curation has high_throughput data #}
    <li><a href="#high-throughput" data-toggle="tab">High-throughput data</a></li>
    {% endif %}
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="reported">
      <pre>{# display non-high-throuhput data only #}
        {% for csi in curation.curation_siteinstance_set.all %}{% if not csi.is_high_throughput %}
        {{ csi.annotated_seq }}{% endif %}{% endfor %}</pre>
    </div>
    <div class="tab-pane active" id="curated">
      <pre>{# display non-high-throuhput data only #}
        {% for csi in curation.curation_siteinstance_set.all %}{% if not csi.is_high_throughput %}
        {{ csi.site_instance.seq }}{% endif %}{% endfor %}</pre>
    </div>
    {% if curation.quantitative_data_format %}
    <div class="tab-pane" id="quantitative_data">
      <p><b>Quantitative data format:</b> {{ curation.quantitative_data_format }}</p>
      <pre>
        {% for csi in curation.curation_siteinstance_set.all %}{% if not csi.is_high_throughput %}{{ csi.site_instance.seq }} {{ csi.quantitative_value }}
        {% endif %}{% endfor %}
      </pre>
    </div>
    {% endif %}
    {% if curation.chip_info %} {# if curation has high-throughput data #}
    <div class="tab-pane" id="high-throughput">
      <pre>
      {% for csi in curation.curation_siteinstance_set.all %}{% if csi.is_high_throughput %}
{{ csi.site_instance.seq }} {% if csi.quantitative_value %}{{ csi.quantitative_value }}{% endif %}{% endif %}{% endfor %}
      </pre>
    </div>
    {% endif %}
  </div>
</div>

<h1>Site-specific Information</h1>
<div class="">
  <p>Regulated genes for each binding site are displayed below. Genes that are reported
    for TF-site mediated regulation are displayed in <span style="color:green">green</span>.
    For each indvidual site, experimental techniques used to determine the site are also given.
  </p>
  
  {% load diagram %}
  <table class="table table-striped table-bordered">
    <thead>
      <th>Site genome</th>
      <th>Site sequence</th>
      <th>Regulated genes</th>
      <th>Gene diagram</th>
      <th>Experimental techniques</th>
      <th>TF function</th>
      <th>TF type</th>
      <th>Site type</th>
      <th>Motif ID</th>
    </thead>
    <tbody>
      {% with curation_site_instances=curation.curation_siteinstance_set.all %}
      {% for cs in curation_site_instances %}
      {% if not cs.is_high_throughput %}
      <tr>
        <td><a href="{{ cs.site_instance.genome.genome_accession }}">{{ cs.site_instance.genome }}</a></td>
        <td><span class="sequence">{{ cs.site_instance.seq }}</span></td>
        <td>
	      {% for regulation in cs.regulation_set.all %}
	      {% if regulation.evidence_type == "exp_verified" %}
	      <a href="http://www.ncbi.nlm.nih.gov/gene/{{ regulation.gene.gene_accession }}" target="_blank">{{ regulation.gene.name }}</a>{% if not forloop.last %},{% endif %}{% endif %}
	      {% endfor %}
        </td>
        <td><div>{{ cs.regulation_set.all|regulation_diagram:cs.site_instance }}</div></td>
        <td>{% for t in cs.experimental_techniques.all %}{{ t.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td>{{ cs.TF_function_verbose }}</td>
        <td>{{ cs.TF_type_verbose }}</td>
        <td>{{ cs.site_type }}</td>
        <td>{{ cs.motif_id }}</td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endwith %}
    </tbody>
  </table>
</div>

<h1>Motifs in CollecTF </h1>
<table class="table">
<thead>
  <th>Motif ID</th>
  <th>Motif</th>
</thead>
<tbody>
  {% for m in all_motifs %}
  <tr>
    <td>{{ m.0 }}</td>
    <td> {{ m.1 }} </td>
  </tr>
  {% endfor %}
</tbody>
</table>

<hr/>

<form action="{% url 'curate.validate_curation.validate_curation' curation.pk %}"
      method="post">{% csrf_token %}
  <input class="btn btn-block btn-primary" type="submit" value="validate curation">
</form>

{% endblock %}

