{% extends "homepage_base.html" %}

{% block head-extras %}
<title> CollecTF - acknowledgements </title>
{% endblock %}

{% block right-frame %}
<h3>Acknowledgements</h3>
<p>
CollecTF is supported by the US National Science Foundation through grant MCB-1158056
and by the UMBC Office of Research through a Special Research
Assistantship/Initiative Support (SRAIS) award.
</p>

<p>
CollecTF is based on the collective effort of a fantastic and highly motivated team
of dedicated curators without whom the database would be just… well, empty. Check the
<a href="#{# {% url dbstatsapp.views.curator_roster %} #}">curator roster</a> for kudos!
</p>

<p>
  Integration with the <a href="http://www.ncbi.nlm.nih.gov/refseq/">NCBI RefSeq</a>
database is possible thanks to the dedicated effort and infinite patience of Stacy
Ciufo, Tatiana Tatusova and the RefSeq team at
the <a href="http://www.ncbi.nlm.nih.gov/">NCBI</a>. Thanks for allowing us to put in
our two cents!
</p>

<p>
CollecTF integrates data from and out-links to many outstanding resources, like the
<a href="http://www.ncbi.nlm.nih.gov/gene">NCBI Gene database</a>
and <a href="http://en.wikipedia.org/">Wikipedia</a>. Thanks all for their hard work.
</p>

{% endblock %}
