{% extends "homepage_base.html" %}

{% block right-frame %}

<h3>Contributing to CollecTF</h3>

<p>
  <b class=""><a href="#">Suggest an article for curation</a></b> - Know of a
  peer-reviewed publication describing experimentally-validated bacterial
  TF-binding sites that is not yet on <a href="#"> our to-do list</a>, Please
  let us know!
</p>


<b class="">Submit data <a href="{% url 'curate.add_curation.curation' %}">using curation wizard</a> </b>

<ul>
  <li>Please
  check <a href="https://dl.dropboxusercontent.com/u/3418484/CollecTF_submission_guide.pdf">the
  submission guide </a> for the curation wizard.
  </li>

  <li>Note that you must be <a href="#">registered as an external user</a> to submit.</li>

  <li>
      Submitted records will be assessed by CollecTF staff and incorporated into
      the database prior to submission to NCBI.
  </li>
</ul>


<p>
  <b class="">Become a curator</b> - CollecTF is open to everyone willing and
able to read primary scientific literature and extract relevant content. Please
contact us if you want to become a member of <a href="#">the CollecTF team</a>.
</p>

{% endblock %}
