{% extends "homepage_base.html" %}


{% block right-frame %}

<h3>Feedback</h3>

<p>
Have comments, suggestions. Is there anything new or different that you would like to
see on CollecTF? We are all ears to ways of improving CollecTF. Please give us your
feedback.
</p>

<p>
CollecTF is committed to maintaining the highest quality standards on the accuracy of
reported information. If you spot an error in reported TF-binding sites, definitions
or evidence for experimental support, please let us know.
</p>

<form class="form-horizontal boxed" role="form" id="feedback-form" action="#" method="POST">{% csrf_token %}
  <div class="form-group">
	<label for="form_email" class="col-sm-3 control-label">
	  Your email address
	</label>
    <div class="col-sm-9">
	<input type="email" id="form_email" name="email" required>
    </div>
  </div>
  
  <div class="form-group">
	<label for="form_feedback_type" class="col-sm-3 control-label">
	  Type
	</label>
    <div class="col-sm-9">
	<select id="form_feedback_type" name="type">
	  <option>Error/bug</option>
	  <option>Feature request</option>
	  <option>Comment</option>
	</select>
    </div>
  </div>
  
  <div class="form-group">
    <label for="form_comment" class="col-sm-3 control-label">
	  Comment
    </label>
    <div class="col-sm-9">
    <textarea required id="form_comment" rows="10" name="comment" ></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
    
{% endblock %}
