{% extends "homepage_base.html" %}

{% block right-frame %}

<h2>Welcome to CollecTF</h2>

<p> CollecTF is a database of transcription factor binding sites (TFBS) in the
  Bacteria domain. It aims at becoming a reference, highly-accessed database by relying
  on its ability to customize navigation and data extraction, its relevance to the
  community, the quality and detail of the stored data and the up-to-date nature of the
  stored information.</p>

<hr />

<p class="lead">
  A record from CollecTF
  <a href="{% url 'browse.view_reports.view_reports' 'species' random_rec.species.pk 'tf' random_rec.TF.pk 'all' -1 0 %}">
    <small>View full record</small>
  </a>
</p>

<div class="">
  <table class="table table-striped table-condensed">
    <tbody>
      <tr>
        <td>Transcription factor</td>
        <td>{{ random_rec.TF_name }}</td>
      </tr>
      <tr>
        <td>Protein record @NCBI</td>
        <td>
          <a href="http://www.ncbi.nlm.nih.gov/protein/?term={{ random_rec.TF_accession }}">
            {{ random_rec.TF_accession }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Species</td>
        <td>{{ random_rec.organism }}</td>
      </tr>
      <tr>
        <td>Genome record @NCBI</td>
        <td>
          <a href="http://www.ncbi.nlm.nih.gov/nuccore/?term={{ random_rec.genome_accession }}">
            {{ random_rec.genome_accession }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
	 class="weblogo_img" alt=""
         id="ex_weblogo" data-site="{% for site in random_rec.aligned_sites %}{{ site }}{% if not forloop.last %},{% endif %}{% endfor %}">
  </div>
</div>

<script>

$(document).ready(function() {
    $('.weblogo_img').each(function() {
	var img = $(this);
    img.parent().block();
	var site_data = $(this).data('site');
	$.ajax({
	    type: "POST",
	    url: "{% url 'base.views.get_weblogo' %}",
	    data: {
		sites: site_data,
		csrfmiddlewaretoken:'{{csrf_token}}', 
	    },
	    success: function(data) {
		img.attr('src', data);
        img.parent().unblock();
	    },
	});
    });

});
</script>

{% endblock %}
