{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
<div class="col-md-3 boxed">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-link" id="about"><a href="{% url 'homepage.views.about' %}">About</a></li>
      <li class="nav-link" id="browse"><a href="{% url 'homepage.views.browse' %}">Browse</a></li>
      <li class="nav-link" id="search"><a href="{% url 'homepage.views.search' %}">Search</a></li>
      <li class="nav-link" id="compare"><a href="{% url 'homepage.views.compare' %}">Compare</a></li>
      <li class="nav-link" id="contribute"><a href="{% url 'homepage.views.contribute' %}">Contribute</a></li>
      <li class="nav-link" id="stats"><a href="{% url 'homepage.views.stats' %}">Stats</a></li>
      <li class="nav-link" id="links"><a href="{% url 'homepage.views.links' %}">Links</a></li>
      <li class="nav-link" id="feedback"><a href="{% url 'homepage.views.feedback' %}">Feedback</a></li>
      <li class="nav-link" id="cite"><a href="{% url 'homepage.views.cite' %}">Cite</a></li>
      <li class="nav-link" id="acknowledgements"><a href="{% url 'homepage.views.acknowledgements' %}">Acknowledgements</a></li>
    </ul>
</div>


<div class="col-md-9">
<div class="col-md-12 boxed">
{% block right-frame %}
{% endblock %}
</div>
</div>

</div>

<script>
// some javascript to highlight the current tab
$(document).ready(function() {
    $('.nav-link').css('width', '100%');
    $('a[href="' + window.location.pathname + '"]').parent().addClass('active');
});
</script>


{% endblock %}
