{% extends "base.html" %}

{% load bootstrap_tags %}

{% block content %}

<div class="container">
<form method="POST" class="form-horizontal"> {% csrf_token %}
  {{ form|as_bootstrap }}
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-info" type="submit">Submit</button>
    </div>
  </div>
</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
  // selectpicker initialize
  $('#id_TF_instances').addClass('select2');
  $('#id_genomes').addClass('select2');
  $('.select2').select2();
});
</script>

{% endblock %}

